
<div class="container">
    <div class="header">
        <h1 class="main-title">Transport Summary</h1>
  
    </div>
    <div class="table-container">
        <div class="table-header">
            <div class="table-header-cell">DATE</div>
            <div class="table-header-cell">TYPE</div>
            <div class="table-header-cell">PICK UP</div>
            <div class="table-header-cell">DROP OFF</div>
        </div>
        <div class="table-row" *ngFor="let summary of summaryInformation">
            <div class="table-cell">{{formatter(summary.Date)}}</div>
            <div class="table-cell">{{summary.Type}}</div>
            <div class="table-cell">{{summary.Pickup}}</div>
            <div class="table-cell">{{summary.DropOff}}</div>
        </div> 
      
     
    </div>
</div>
