<section class="hero-section">
    <div class="hero-overlay"></div>
    <div class="content-wrapper">
      <div 
        class="quote-container" 
        [@fadeAnimation]="state" 
        (@fadeAnimation.done)="onFadeDone($event)">
  
        <div class="quote-mark">"</div>
        <blockquote class="quote-text">
          {{ block_quotes[currentIndex].block }}
        </blockquote>
        <div class="separator-line"></div>
        <section class="attribution">
          — {{ block_quotes[currentIndex].creator }}
        </section>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="container">
    <div class="section-header">
    <h2 class="section-title">Lodges & Camps in Maasai Mara</h2>
    <p class="section-sub-title">A myriad of accommodation options is available in Maasai Mara.From adventurous mobile tented camps following the Great Migration to family-oriented lodge style accommodations and anything in between, you can be sure to find the perfect spot just for you.</p>
    <div class="divider"></div>
    </div>
    <div class="grid">
    <div class="card">
    <div class="card-image">
    <img src="https://res.cloudinary.com/douvdvqdh/image/upload/v1756841774/kichwa-tembo-tented-camp-masai-mara_m5nwey.jpg"
    alt="Wildlife">
    </div>
    <h3 class="card-title">Kichwa Tembo Tented Camp</h3>
    <p class="card-text">
      Nestled in a forest along the Saparingo River, Kichwa Tembo Tented Camp offers a blend of classic safari elegance and modern comfort.
      The camp provides an intimate and immersive wildlife experience in the heart of the Masai Mara.</p>
    <button (click)="goSafaris()" class="button-5"  role="button">Explore</button>
    </div>
    <div class="card">
    <div class="card-image">
    <img src="https://res.cloudinary.com/douvdvqdh/image/upload/v1756841775/Saruni-Mara_pshlyo.jpg"
    alt="Migration">
    </div>
    <h3 class="card-title"> Saruni Mara </h3>
    <p class="card-text">
      Saruni Mara is a boutique lodge offering an exclusive and luxurious safari experience.
      Situated in a remote valley in the Mara North Conservancy, it provides a tranquil retreat with a strong focus on conservation and community.</p>
    <button class="button-5"  (click)="goSafaris()" role="button">Explore</button>
    </div>
    <div class="card">
    <div class="card-image">
    <img src="https://res.cloudinary.com/douvdvqdh/image/upload/v1756841775/angama-mara_weedib.png"
    alt="Angama-Mara">
    </div>
    <h3 class="card-title"> Angama Mara </h3>
    <p class="card-text">
      Perched high above the Great Rift Valley, Angama Mara offers breathtaking views over the Masai Mara plains.
      This luxury lodge is renowned for its exceptional service, stunning architecture, and prime location adjacent to the Mara Triangle.</p>
    <button class="button-5"  (click)="goSafaris()" role="button">Explore</button>
    </div>
    </div>
    </div>
    </section>