<section class="hero-section">
    <div class="hero-overlay"></div>
    <div class="content-wrapper">
      <div 
        class="quote-container" 
        [@fadeAnimation]="state" 
        (@fadeAnimation.done)="onFadeDone($event)">
  
        <div class="quote-mark">"</div>
        <blockquote class="quote-text">
          {{ block_quotes[currentIndex].block }}
        </blockquote>
        <div class="separator-line"></div>
        <section class="attribution">
          — {{ block_quotes[currentIndex].creator }}
        </section>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="container">
    <div class="section-header">
    <h2 class="section-title">Lodges & Camps in Maasai Mara</h2>
    <p class="section-sub-title">A myriad of accommodation options is available in Maasai Mara.From adventurous mobile tented camps following the Great Migration to family-oriented lodge style accommodations and anything in between, you can be sure to find the perfect spot just for you.</p>
    <div class="divider"></div>
    </div>
    <div class="grid">
    <div class="card">
    <div class="card-image">
    <img src="https://res.cloudinary.com/dasrniwpk/image/upload/v1755607322/serengeti-bushtops-luxury-safari_xoe0ps.jpg"
    alt="Wildlife">
    </div>
    <h3 class="card-title">Namiri Plains</h3>
    <p class="card-text">A home away from home on the plains. This lodge is all about luxury, cheetah conservation and wildlife. Namiri Plains is a remote camp, yet close to all the action. Spacious tented suites offer spectacular and uninterrupted views across Serengeti National Park</p>
    <button (click)="goSafaris()" class="button-5"  role="button">Explore</button>
    </div>
    <div class="card">
    <div class="card-image">
    <img src="https://res.cloudinary.com/dasrniwpk/image/upload/v1755607322/andbeyond-serengeti-under-canvas-luxury-safari_djg23d.jpg"
    alt="Migration">
    </div>
    <h3 class="card-title">Four Seasons</h3>
    <p class="card-text">Indulge yourself with great game drives, spa treatments, a cocktail bar with the best possible views, a gourmet food experience as well as many excursions options and more. Get ready for an immersive safari experience at the Four</p>
    <button class="button-5"  (click)="goSafaris()" role="button">Explore</button>
    </div>
    <div class="card">
    <div class="card-image">
    <img src="https://res.cloudinary.com/dasrniwpk/image/upload/v1755607322/entara-olmara-camp-serengeti_ppfqoi.jpg"
    alt="Culture">
    </div>
    <h3 class="card-title">Dunia Camp</h3>
    <p class="card-text">Best of the Maasai Mara, extraordinary, setting breathtaking these phrases are just a selection of the reviews written about Dunia Camp in Serengeti National Park. Explore this accommodation yourself and discover why everybody wants to return.</p>
    <button class="button-5"  (click)="goSafaris()" role="button">Explore</button>
    </div>
    </div>
    </div>
    </section>