<h3>Manage my Hotels</h3>

<mat-form-field appearance="outline" *ngIf="!fetchingHotels">
  <mat-label>Search any Hotel</mat-label>
  <input type="text" matInput (keyup)="applyFilter($event)" #inputSelect />
  <mat-hint>Example:Kunste Hotel</mat-hint>
</mat-form-field>

<table mat-table [dataSource]="hotelData" *ngIf="!fetchingHotels" class="large-table">
  <ng-container matColumnDef="hotelName">
    <th mat-header-cell *matHeaderCellDef>Hotel Name</th>
    <td mat-cell *matCellDef="let element">
      {{ element.hotelName }}
    </td>
  </ng-container>
  <ng-container matColumnDef="phoneNumber">
    <th mat-header-cell *matHeaderCellDef>PhoneNumber</th>
    <td mat-cell *matCellDef="let element">{{ element.contactPhoneNumber }}</td>
  </ng-container>
  <ng-container matColumnDef="contactPerson">
    <th mat-header-cell *matHeaderCellDef>ContactPerson</th>
    <td mat-cell *matCellDef="let element">{{ element.contactPerson }}</td>
  </ng-container>

  <ng-container matColumnDef="destination">
    <th mat-header-cell *matHeaderCellDef>Destination</th>
    <td mat-cell *matCellDef="let element">
      {{ element.destination.destinationTitle }}
    </td>
  </ng-container>

  <ng-container matColumnDef="contactEmail">
    <th mat-header-cell *matHeaderCellDef>Email</th>
    <td mat-cell *matCellDef="let element">{{ element.contactEmail }}</td>
  </ng-container>

  <ng-container matColumnDef="commission">
    <th mat-header-cell *matHeaderCellDef>Commision</th>
    <td mat-cell *matCellDef="let element">{{ element.hotelCommission }}%</td>
  </ng-container>

  <ng-container matColumnDef="maxRate">
    <th mat-header-cell *matHeaderCellDef>Max RR</th>
    <td mat-cell *matCellDef="let element">{{ element.maximumRate }} %</td>
  </ng-container>

  <ng-container matColumnDef="minRate">
    <th mat-header-cell *matHeaderCellDef>Min RR</th>
    <td mat-cell *matCellDef="let element">{{ element.minimumRoomRate }}%</td>
  </ng-container>

  <ng-container matColumnDef="published">
    <th mat-header-cell *matHeaderCellDef>Published</th>
    <td mat-cell *matCellDef="let element">
      <mat-icon *ngIf="element.publishable" style="color: green">done</mat-icon>
      <mat-icon *ngIf="!element.publishable" style="color: red">close</mat-icon>
    </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Action</th>
    <td mat-cell *matCellDef="let element">
      <button
        mat-icon-button
        matTooltip="actions"
        [mat-menu-trigger-for]="menu"
      >
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu>
        <button mat-menu-item (click)="editHotel(element)">
          <mat-icon>edit</mat-icon>
          <span>Edit</span>
        </button>
        <button mat-menu-item (click)="deletingHotel(element)">
          <mat-icon style="color: red">delete</mat-icon>
          <span>Delete</span>
        </button>
        <button mat-menu-item *ngIf="!element.publishable" (click)="publishingHotel(element)">
          <mat-icon style="color: green" >publish</mat-icon>
          <span>Publish hotel</span>
        </button>
      </mat-menu>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell" colspan="4">No data matching the filter</td>
  </tr>
</table>








<table mat-table [dataSource]="hotelData" *ngIf="!fetchingHotels" class="small-table">
  <ng-container matColumnDef="hotelName">
    <th mat-header-cell *matHeaderCellDef>Hotel Name</th>
    <td mat-cell *matCellDef="let element">
      {{ element.hotelName }}
    </td>
  </ng-container>
 


  <ng-container matColumnDef="destination">
    <th mat-header-cell *matHeaderCellDef>Destination</th>
    <td mat-cell *matCellDef="let element">
      {{ element.destination.destinationTitle }}
    </td>
  </ng-container>

  

<ng-container matColumnDef="published">
    <th mat-header-cell *matHeaderCellDef>Published</th>
    <td mat-cell *matCellDef="let element">
      <mat-icon *ngIf="element.publishable" style="color: green">done</mat-icon>
      <mat-icon *ngIf="!element.publishable" style="color: red">close</mat-icon>
    </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Action</th>
    <td mat-cell *matCellDef="let element">
      <button
        mat-icon-button
        matTooltip="actions"
        [mat-menu-trigger-for]="menu"
      >
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu>
        <button mat-menu-item (click)="editHotel(element)">
          <mat-icon>edit</mat-icon>
          <span>Edit</span>
        </button>
        <button mat-menu-item (click)="deletingHotel(element)">
          <mat-icon style="color: red">delete</mat-icon>
          <span>Delete</span>
        </button>
        <button mat-menu-item *ngIf="!element.publishable" (click)="publishingHotel(element)">
          <mat-icon style="color: green" >publish</mat-icon>
          <span>Publish hotel</span>
        </button>
      </mat-menu>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumnsSmall"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumnsSmall"></tr>
  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell" colspan="4">No data matching the filter</td>
  </tr>
</table>
















<mat-paginator
  [pageSizeOptions]="[5, 10, 20, 50, 100]"
  showFirstLastButtons
  aria-label="Select page of periodic elements"
>
</mat-paginator>

<div class="spin">
  <p-progressSpinner *ngIf="fetchingHotels" />
</div>

<p-dialog [modal]="true" [(visible)]="popEditor" [maximizable]="true">
  <mat-card *ngIf="!fetchingDestinations">
    <form>
      <div class="infos">
        <h3>Basic Hotel Information</h3>
        <mat-form-field>
          <mat-label>Enter Hotel Name</mat-label>
          <input
            type="text"
            name="hotel-name"
            [(ngModel)]="hotelName"
            matInput
          />
          <mat-hint>Example Kunste Hotel</mat-hint>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Choose Destination</mat-label>
          <mat-select [(value)]="Destinations">
            <mat-option
              (onSelectionChange)="chooser($event)"
              *ngFor="let destinaton of destinationsData"
              [value]="destinaton.id"
            >
              {{ destinaton.destinationTitle }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <div>
          <label>Enter Hotel Description</label>
          <p-editor
            [style]="{ height: '245px' }"
            (onTextChange)="captureDescriptionHotel($event)"
            placeholder="Enter Hotel Description.Example insights of the hotel"
          />
        </div>

        <div>
          <label>Enter Hotel Meta Description</label>
          <p-editor
            placeholder="Enter Hotel Meta  Description"
            (onTextChange)="captureMetaDescriptionHotel($event)"
            [style]="{ height: '245px' }"
          />
        </div>

        <div>
          <label>Enter Cancellation Policy</label>
          <p-editor
            (onTextChange)="captureCancellationPolicyHotel($event)"
            placeholder="Enter Hotel Cancellation Policy"
            [style]="{ height: '245px' }"
          />
        </div>

        <div>
          <label>Enter Location Description</label>
          <p-editor
            placeholder="Enter Location Description"
            (onTextChange)="captureLocationHotel($event)"
            [style]="{ height: '245px' }"
          />
        </div>

        <mat-form-field>
          <mat-label>Enter Hotel Commission</mat-label>
          <input
            type="number"
            [(ngModel)]="hotelCommission"
            matInput
            name="hotel-commission"
          />
          <mat-hint>Example 5%</mat-hint>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Enter Maximum Room Rate</mat-label>
          <input
            type="number"
            [(ngModel)]="maximumRoomRate"
            matInput
            name="hotel-maximum-room-rate"
          />
          <mat-hint>Example 30%</mat-hint>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Enter Minimum Room Rate</mat-label>
          <input
            type="number"
            [(ngModel)]="minimumRoomRate"
            matInput
            name="hotel-minimum-room-rate"
          />
          <mat-hint>Example 10%</mat-hint>
        </mat-form-field>

        <div>
          <label>Hotel Thumbnail Photo</label>
          <p-fileUpload
            name="demo[]"
            url="https://www.primefaces.org/cdn/api/upload.php"
            [multiple]="false"
            accept="image/*"
            maxFileSize="100000000000"
            (onSelect)="captureThumbnail($event)"
          >
            <ng-template pTemplate="content">
              <ul></ul>
            </ng-template>
          </p-fileUpload>
        </div>

        <div class="hotel-photos">
          <div *ngFor="let dest of images; let i = index">
            <div>
              <strong>Images {{ i + 1 }}</strong>
              <p-fileUpload
                name="demo[]"
                url="https://www.primefaces.org/cdn/api/upload.php"
                [multiple]="false"
                accept="image/*"
                (onSelect)="chooserFile($event, i)"
                maxFileSize="100000000000"
              >
                <ng-template pTemplate="content">
                  <ul></ul>
                </ng-template>
              </p-fileUpload>
            </div>
          </div>
          <mat-card-actions align="start">
            <button
              mat-flat-button
              (click)="addImage()"
              [matBadge]="images.length"
            >
              Add Another Photo
            </button>
            <button mat-flat-button (click)="popImage()">Remove Photo</button>
          </mat-card-actions>
        </div>
      </div>

      <div class="contact-information">
        <h3>Contact Information Hotel</h3>
        <mat-form-field>
          <mat-label>Enter Contact Email</mat-label>
          <input
            type="email"
            [(ngModel)]="contactEmail"
            name="contact-Email"
            matInput
          />
          <mat-hint>Example:tours&#64;gmail.com</mat-hint>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Enter Contact Phone Number</mat-label>
          <input
            type="text"
            max="12"
            name="contact-Phone-Number"
            [(ngModel)]="phoneNumber"
            matInput
          />
          <mat-hint>Example:254759857031</mat-hint>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Choose Contact Person</mat-label>
          <mat-select [(value)]="contactPerson">
            <mat-option
              *ngFor="let contact of availableContactPerson"
              [value]="contact"
              >{{ contact }}</mat-option
            >
          </mat-select>
        </mat-form-field>
      </div>
    </form>
    <button
      *ngIf="!processing"
      (click)="updateHotel()"
      style="
        background-color: #fca608;
        color: white;
        width: fit-content; 
        margin-top: 20px;
      "
      mat-flat-button
    >
      Create Hotel
    </button>
    <p-button
      loading
      *ngIf="processing"
      [style]="{ 'background-color': 'rgb(252,166,8)' }"
      label="Saving"
    ></p-button>
  </mat-card>
</p-dialog>

<p-dialog [modal]="true" header="Delete Hotel" [(visible)]="deleteHotel">
  <mat-card>
    <mat-card-title
      >Are you sure you wish to delete {{ hotelNameDelete }}</mat-card-title
    >
    <mat-card-actions align="end">
      <button
        mat-icon-button
        style="background-color: green"
        (click)="deleteHotelPermanently()"
      >
        <mat-icon>check</mat-icon>
      </button>
      <button mat-icon-button style="background-color: red">
        <mat-icon>close</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</p-dialog>




<p-dialog [modal]="true" header="Publish Hotel" [(visible)]="publishing">
  <mat-card>
    <mat-card-title
      >Are you sure you wish to Publish {{ hotelNameDelete }}</mat-card-title
    >
    <mat-card-actions align="end">
      <button
        mat-icon-button
        style="background-color: green"
        (click)="completePublish()"
      >
        <mat-icon>check</mat-icon>
      </button>
      <button mat-icon-button style="background-color: red">
        <mat-icon>close</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</p-dialog>