<header></header>

<mat-card *ngIf="!fetching">
<mat-card-header>
<mat-card-title>{{packageData.packageTitle}}</mat-card-title>


</mat-card-header>
<ul>
  <li (click)="goOverview()">
  <h3 >OVERVIEW</h3>
  </li>
  <li (click)="goItinerary()">
  <h3 >ITINERARY</h3>
  </li>
  <li (click)="goInclusions()">
  <h3>INCLUSIONS</h3>
  </li>
  <li (click)="goExclusions()">
  <h3 >EXCLUSIONS</h3>
  </li>
  <li (click)="goSpecial()">
  <h3 >SPECIAL NOTES</h3>
  </li>
    
    
    
  
  </ul>
  
<div class="galleria">
<div class="image-main">
<img [src]="packageData.packageImage" alt="">
</div>

<div class="galleria-thumbnails" >
  <img *ngFor="let imgs of formatPackageImages(packageData.packageImages)" [src]="imgs" alt="">
</div>
</div>


<div class="package-overview" #overView>
<h2>Package Overview</h2>
<mat-card-content [innerHTML]="sanitize(packageData.packageOverview)"></mat-card-content>
</div>

<div class="package-about" #itinerary>
<h2>More About this Package</h2>
<mat-card-content [innerHTML]="sanitize(packageData.packageAbout)"></mat-card-content>
</div>


<div class="package-about" #inclusions>
<h2>Inclusions</h2>
<mat-list *ngFor="let inc of formatInclusives(packageData.packageInclusives)">
<mat-list-item matListItemAvatar>
<span matListItemTitle>{{inc}}</span>
<mat-icon style="color: green;" matListItemIcon>check</mat-icon>
</mat-list-item>
</mat-list>
</div>

<div class="package-about" #exclusions>
    <h2>Exclusions</h2>
    <mat-list *ngFor="let excl of formatExclusives(packageData.packageExclusives)">
    <mat-list-item matListItemAvatar>
    <span matListItemTitle>{{excl}}</span>
    <mat-icon style="color: red;" matListItemIcon>close</mat-icon>
    </mat-list-item>
    </mat-list>
    </div>

    <div class="package-about" #specialNotes>
        <h2>Special Notes</h2>
        <mat-card-content [innerHTML]="sanitize(packageData.packageAbout)"></mat-card-content>
        </div>


<related-packages [packageData]="relatedPackage"></related-packages>


</mat-card>

















<div [classList]="fetching ? 'spin':'no-spin'">
<!-- From Uiverse.io by doniaskima --> 
<div class="loader"></div>
  </div>
  <p-scrollTop/>
<footer></footer>