.container {
    max-width: 100%;
    min-width: 100vw;
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  b{
 color: blue;
 text-decoration: underline;
 cursor: pointer;
  }
  .btn{
    background-color: #fca608;
    color: white;
    width: max-content;
  }
  mat-card {
    background-color: rgb(237, 241, 245);
    max-width: 100vw;
    min-width: 100%;
    height: max-content;
    display: grid;
    margin: 0px;
    padding: 0px;
    grid-template-columns: 2fr 1fr; 
  align-items: start;
  }
  
  .div-a {
    width: 1000px;
    width: 1000px;
    height: auto; /* Change from max-content to auto */
    min-height: unset; /* Remove or adjust min-height */
  
  }
  .img-big{
    height: 600px;
    width: 800px;
    }
  .div-b {
    background-color: black;
    height: 100%;
    width: 95%;
  }
  .img-thumbnail {
    width: 100%;
    height: 100px; 
    max-height: 400px; 
    object-fit: cover;
  }
  .spin{
    height: 100%;
    }
      .no-spin{
      display: none;
      }
  h1{
  text-align: center;
  }
  @media (max-width: 930px) {
  table{
  width: 100%;
  min-width: 100vw;
  max-width: 100%;
  }
  
    .div-a {
      width: 100%;
    
    }
    .img-big{
      height: fit-content;
      width: 100%;
      }
    .div-b {
      background-color: black;
      height:fit-content;
      width: 100%;
    }
    .img-thumbnail {
      width: 100%;
      height: 100px; 
      max-height: 400px; 
      object-fit: cover;
    }
    mat-card {
      display: grid;
      grid-template-columns: 1fr;
    }
  
    .truncate-text {
      margin-top: 10px;
      height: max-content;
      overflow: hidden;
      text-overflow: ellipsis;
      display: block;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
    }
  
  .spin{
  height: 100%;
  }
    .no-spin{
    display: none;
    }
    mat-card div {
      margin-top: 10px;
      height: max-content;
      width: 100%;
      max-width: 100vw;
    }
  }
  