<mat-card>

  <mat-card-footer>
    <div>
    
      <ul>
        <li>
        <h2>Quick Links</h2>
        </li>
        <li routerLink="/safaris">
          <span>Masaai Mara Safaris</span>
        </li>

        <li routerLink="/accomodations" >
          <span>Masaai Mara accomodations</span>
        </li>
    
      
      </ul>
    </div>
    <mat-divider style="background-color: white"></mat-divider>
    <div>
     
      <ul>
        <li>
        <h2>Get to Know Us</h2>
        </li>
        <li routerLink=""><span>About Masaai mara trips</span></li>
        <li [routerLink]="['.']" fragment="contact"><span>Contact us</span></li>
      </ul>
    </div>
    <mat-divider style="background-color: white"></mat-divider>
    <div>
    
      <ul>
        <li>
        <h2>Explore more</h2>
        </li>
        <li [routerLink]="['.']" fragment="contact" role="button"><span>Get a free quote</span></li>
        <li routerLink="/safaris"><span>Safari Packages</span></li>
        <li><span routerLink="/blogs">Blogs</span></li>
      
      </ul>
    </div>
    <mat-divider style="background-color: white"></mat-divider>
    <div>
        <ul>
         <li>
        <h2>Connect with us</h2>
         </li>

        </ul>
    
      <div class="social">
        <img
          (click)="goSocials('https://www.facebook.com/olankasafaris')"
          src="../../../assets/icons8-facebook-48.png"
          alt="facebook_png"
        />
      
        <img
          (click)="goSocials('https://www.youtube.com/channel/UCMyrlU8eb3ToAbmOV-dPTMA')"
          src="../../../assets/icons8-youtube-48.png"
          alt="youtube_png"
        />
        <img
          (click)="goSocials('https://www.linkedin.com/company/olanka-safaris/')"
          src="../../../assets/icons8-linkedin-48.png"
          alt="linkedin_png"
        />
        <img
          (click)="goSocials('https://www.pinterest.com/olankasafaris')"
          src="../../../assets/icons8-pinterest-48.png"
          alt="pintrest_png"
        />
      </div>
     
      
    </div>
  </mat-card-footer>
  <b>&copy; {{ yr }} MasaaiMaraTrips.All Rights Reserved</b>
</mat-card>
