<header></header>
<div class="safaris" [@bounceRight]="bgState" #bg>
  <h1 style="color: white;">See many destinations which may interest you</h1>
</div>
<div class="main">
  <h1>Explore our stunning Safari destinations in Kenya</h1>
  <mat-card *ngIf="!findingDestinations">
    <div (click)="goDestinations(dest.destinationSlug, dest.destinationTitle)" *ngFor="let dest of destinations">
      <img [src]="dest.destinationThumbnail" alt="{{dest.destinationTitle}}" />
      <span class="label">{{dest.destinationTitle}}</span>
      <mat-list>
       <mat-list-item>
        <mat-icon style="color: rgb(232,139,34)" matListItemIcon>place</mat-icon>
        <h4 matListItemTitle>{{dest.destinationTitle}}</h4>
       </mat-list-item>
      </mat-list>
      <mat-card-content [innerHTML]="sanitize(dest.destinationAbout)"></mat-card-content>
    </div>
  </mat-card>
  <p-scrollTop/>
  <div [classList]="findingDestinations ? 'spin' : 'no-spin'">
    <!-- From Uiverse.io by doniaskima --> 
    <div class="loader"></div>
  </div>
  <footer></footer>
</div>