<nav class="navbar" ng-app="tourApp">
  <div class="logo" (click)="home()">
    <img src="https://res.cloudinary.com/dasrniwpk/image/upload/v1746617656/logoMaasai_vw03id_r3n9yf.png" alt="Company Logo">
  </div>

  <ul class="nav-links">
    <li (click)="home()"><a href="/">Home</a></li>
    <li class="dropdown">
      <a href="/destinations">Destinations</a>
      <ul class="dropdown-menu">
        <li *ngFor="let dest of featureDestinations">
          <a target="_blank" [attr.href]="'destinations/' + dest.destinationTitle + '/' + dest.destinationSlug">
            {{ dest.destinationTitle }}
          </a>
        </li>
      </ul>
    </li>
    <li class="dropdown">
      <a href="/hotels">Accomodations</a>
      <div class="dropdown-menu">  <!-- Changed from ul to div for valid HTML, as it contains mat-card not li -->
        <mat-card>
          <div (click)="viewHotel('hotel/Karen%20Blixen%20Mara%20Camp/karen-blixen-mara-camp')">
            <img src="http://res.cloudinary.com/dasrniwpk/image/upload/v1752125664/Maasai%20Mara%20Trips%20Hotels/n6wtnjfh5nxpz6csht2v.jpg" alt="karen_blixen">
            <span>Karen Blixen Camp Maasai Mara</span>
          </div>
          <div (click)="viewHotel('hotel/Outspan%20Hotel/outspan-hotel')">
            <img src="http://res.cloudinary.com/dasrniwpk/image/upload/v1751473467/Maasai%20Mara%20Trips%20Hotels/lkejozwidfpckd4u9613.jpg" alt="Outspan Hotel">
            <span>Outspan hotel</span>
          </div>
          <div (click)="viewHotel('hotel/White%20Rhino%20hotel/white-rhino-hotel')">
            <img src="http://res.cloudinary.com/dasrniwpk/image/upload/v1752083500/Maasai%20Mara%20Trips%20Hotels/lvwx2o7cnwjygjebxzsl.jpg" alt="White Rhino">
            <span>White Rhino</span>
          </div>
          <div (click)="viewHotel('hotel/Tree%20Tops/tree-tops')">
            <img src="http://res.cloudinary.com/dasrniwpk/image/upload/v1751376954/Maasai%20Mara%20Trips%20Hotels/ryq6tmciszd9b82latd5.jpg" alt="">
            <span>Tree Tops</span>
          </div>
          <div (click)="viewHotel('hotel/Golden%20Gates/golden-gates')">
            <img src="http://res.cloudinary.com/dasrniwpk/image/upload/v1752654957/skloym4fm7aulvepsnwn.jpg" alt="ashnil">
            <span>Golden Gates</span>
          </div>
          <div (click)="viewHotel('hotel/Acacia%20Premier%20Hotel/acacia-premier-hotel')">
            <img src="http://res.cloudinary.com/dasrniwpk/image/upload/v1752764745/Maasai%20Mara%20Trips%20Hotels/mvxc1jkroisoeilf2bh7.jpg" alt="enkorok">
            <span>Acacia Premier Hotel</span>
          </div>
        </mat-card>
      </div>
    </li>
    <li class="dropdown">
      <a href="/safaris">Safaris Packages</a>
      <ul class="dropdown-menu">
        <li *ngFor="let pack of featureSafaris">
          <a target="_blank" [attr.href]="'safaris/' + pack.safariSlug">{{pack.safariTitle}}</a>
        </li>
      </ul>
    </li>
    <li><a href="/blogs">Blogs</a></li>
    <li><a href="/contact">Contact Us</a></li>
    <li><a href="/about/us">About Us</a></li>
    <li><a href="/gallery">Gallery</a></li>
  </ul>
  <button class="button-5" role="button">
    Enquire Now
  </button>
</nav>

<p-sidebar [(visible)]="seeDrawer">
  <mat-list>
    <mat-list-item (click)="home()">
      <span matListItemTitle>Masaai Mara Trips</span>
    </mat-list-item>
    
    <mat-list-item (click)="accomodations()">Accommodations</mat-list-item>
    <mat-list-item (click)="navigate()">Masaai Mara Safari's</mat-list-item>
    <mat-list-item (click)="goDest('destinations')">Destinations</mat-list-item>
    <mat-list-item (click)="goDest('contact')">Contact Us</mat-list-item>
    <mat-list-item (click)="goDest('about/us')">About Us</mat-list-item>
    <mat-list-item (click)="goDest('blogs')">Blogs</mat-list-item>
    <mat-list-item (click)="goDest('gallery')">Our Gallery</mat-list-item>
    <mat-list-item>
      <button class="button-5" role="button" (click)="navigate()">Enquire Now</button>
    </mat-list-item>
  </mat-list>
</p-sidebar>

<mat-drawer-container>
  <mat-drawer #drawer mode="over" [opened]="false"> </mat-drawer>
  <div>
    <mat-icon class="harmburg" (click)="toggle()">menu</mat-icon>
    <img
      src="https://res.cloudinary.com/dasrniwpk/image/upload/v1746617656/logoMaasai_vw03id_r3n9yf.png"
      mat-card-md-image
      alt=""
    />
  </div>
</mat-drawer-container>