<nav class="navbar" ng-app="tourApp">
  <div class="logo" (click)="home()">
    <img src="https://res.cloudinary.com/dasrniwpk/image/upload/v1746617656/logoMaasai_vw03id_r3n9yf.png" alt="Company Logo">
  </div>

  <ul class="nav-links">
    <li (click)="home()"><a href="/">Home</a></li>
    <li class="dropdown">
      <a href="/blogs">Maasai Mara</a>
      <ul class="dropdown-menu">
        <li *ngFor="let dest of featureDestinations">
          <a target="_blank" [attr.href]="'blog/'+ dest.destinationSlug">
            {{ dest.destinationTitle }}
          </a>
        </li>
      </ul>
    </li>
    <li class="dropdown">
      <a href="/accomodations">Accomodations</a>
    
    </li>
    <li class="dropdown">
      <a href="/safaris">Safaris Packages</a>
    
    </li>
    
   <!-- 640 * 640 img size -->
  
    <li><a href="/gallery">Gallery</a></li>
  </ul>
  <button class="button-5" (click)="contact_us()" [routerLink]="['.']" fragment="contact" role="button">
    Contact
  </button>
</nav>

<p-sidebar [(visible)]="seeDrawer">
  <mat-list>
    <mat-list-item (click)="home()">
      <span matListItemTitle>Home</span>
    </mat-list-item>
 
   
   
    <mat-list-item (click)="goDest('blogs')">
      <span matListItemTitle>Maasai Mara</span>
    </mat-list-item> 
    <mat-list-item (click)="accomodations()">
      <span matListItemTitle>Accomodations</span>
    </mat-list-item>   
    <mat-list-item (click)="navigate()">Safari Packages</mat-list-item>
  
    <mat-list-item (click)="goDest('gallery')">Our Gallery</mat-list-item>
    <mat-list-item>
      <button class="button-5"  [routerLink]="['.']" fragment="contact"  role="button" >Enquire Now</button>
    </mat-list-item>
  </mat-list>
</p-sidebar>

<mat-drawer-container>
  <mat-drawer #drawer mode="over" [opened]="false"> </mat-drawer>
  <div>
    <mat-icon class="harmburg" (click)="toggle()">menu</mat-icon>
    <img
      src="https://res.cloudinary.com/dasrniwpk/image/upload/v1746617656/logoMaasai_vw03id_r3n9yf.png"
      mat-card-md-image
      alt=""
    />
  </div>
</mat-drawer-container>