
    <h2>Add new email </h2>

   <form #formAddBulk="ngForm">
    
    <div class="form-a">
      <mat-icon class="close">close</mat-icon>
      <mat-form-field>
      <mat-label>Enter your Full name</mat-label>
      <mat-icon matIconPrefix>person</mat-icon>
      <input type="text" #namePerson="ngModel" matInput name="fullName" [(ngModel)]="fullName"  required>
      <mat-error *ngIf="namePerson.invalid && namePerson.touched">
        Provide Full Name As Needed
      </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Choose option</mat-label>
        <mat-select [(value)]="category" required [(ngModel)]="category" #categoryModel="ngModel" name="category">
          <mat-option *ngFor="let opts of bulkOptions" [value]="opts">
            {{ opts }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="categoryModel.invalid">
          Choose an option from the above
        </mat-error>
      </mat-form-field>
      
      
      <mat-form-field>
      <mat-label>Enter your phone Number</mat-label>
      <mat-icon matIconPrefix>call</mat-icon>
      <span matPrefix>+254</span>
      <input  placeholder="7********" #phoneValidation="ngModel" type="number" minLength="10" maxlength="12" [(ngModel)]="phoneNumber" matInput name="phoneNumber" required>
     <mat-error *ngIf="phoneValidation.invalid && phoneValidation.touched">
        Provide valid phone number(Valid Phone Number Should be at least 10 charachters long)
     </mat-error>  
    </mat-form-field>
      
      
      <mat-form-field>
      <mat-label>Enter id number</mat-label>
      <mat-icon matIconPrefix>remember_me</mat-icon>
      <input minlength="6" type="number" #idBulk="ngModel" matInput name="idField" [(ngModel)]="idNumber"  required>
        <mat-error *ngIf="idBulk.invalid && idBulk.touched">
          Provide id field as required(Minimum Length should be 6 charachters)
        </mat-error>  
    </mat-form-field>
      
      <mat-form-field>
      <mat-label>Enter description(Optional)</mat-label>
      <textarea name="desc" id="" matInput cols="1" rows="1" [(ngModel)]="description"></textarea>
      </mat-form-field>
      </div>
      
      
      <div class="form-b">
          <mat-form-field>
          <mat-label>Enter email address</mat-label>
            <input #emailField="ngModel" type="email" name="mail" matInput required [(ngModel)]="emailAddress">
          <mat-error *ngIf="emailField.invalid && emailField.touched">
            Provide Email Field as needed
          </mat-error>
          </mat-form-field>

          <mat-form-field>
          <mat-label>Choose identification method</mat-label>
           <mat-select #identificationName="ngModel" required [(value)]="identificationMethod" [(ngModel)]="identificationMethod">
           <mat-option value="id">ID Number </mat-option>
           <mat-option value="passport">Passport Number </mat-option>
           </mat-select>
           <mat-error *ngIf="identificationName.invalid && identificationName.touched">
            Choose a valid Identification Method
           </mat-error>
          </mat-form-field>
          
          <mat-form-field>
            <mat-label>Choose country(Optional)</mat-label>
             <mat-select [(value)]="country" >
             <mat-option *ngFor="let country of countryCodes" [value]="country.name">
               {{country.name}}
               <img [src]="formatFlag(country.code)"  width="20" height="15" style="margin-right: 8px;">
             </mat-option>
             </mat-select>
            </mat-form-field>
      
       
       
          
          
       
          </div>
   </form>
        <button class="btn" mat-flat-button (click)="saveMail()" *ngIf="!processing && formAddBulk.valid">Add</button>
        <p-button [raised]=true  severity='warning' label="Saving..." loading *ngIf="processing"></p-button>
        <p-button [raised]=true  severity='warning' label="Add" disabled *ngIf="!processing && !formAddBulk.valid"></p-button>


    <p-toast/> 