<header-add></header-add>
<div>

<form>
<h1>Reset your Password</h1>

<mat-form-field appearance="outline">
<mat-label>Enter Your Password</mat-label>
<mat-icon *ngIf="seePassword"  matIconSuffix>visibility</mat-icon>
<mat-icon  *ngIf="!seePassword" matIconSuffix >visibility_off</mat-icon>
<input minlength="6" type="password" required name="password" #Password="ngModel" [(ngModel)]="password" matInput>
<mat-error *ngIf="Password.invalid && Password.touched">
Provide this field as needed
</mat-error>
</mat-form-field>



<mat-form-field appearance="outline">
<mat-label>Re type password</mat-label>
<mat-icon  *ngIf="seePassword" matIconSuffix>visibility</mat-icon>
<mat-icon  *ngIf="!seePassword" matIconSuffix >visibility_off</mat-icon>
<input #pass="ngModel" minlength="6" required name="password" [(ngModel)]="confirmPassword" matInput>
<mat-error *ngIf="pass.invalid && pass.touched">
Provide password as needed
</mat-error>
</mat-form-field>


<button  (click)="completeReset()" mat-flat-button *ngIf="!processingRequest && password == confirmPassword">Reset</button>
<p-button label="processing" loading *ngIf="processingRequest" />

</form>

<p-toast/>
</div>
