<mat-card *ngIf="!fetchingEmails">
<h1>Send Email</h1>
<form #sendEmailForm="ngForm">
<mat-form-field >
<mat-label>Send to</mat-label>
<input [matAutocomplete]="auto" #target="ngModel"  required type="email" matInput name="mailTo" [(ngModel)]="targetMail">
<mat-autocomplete #auto="matAutocomplete" > 
<mat-option *ngFor="let suggestedEmails of bulkEmails" [value]="suggestedEmails.email">
{{suggestedEmails.email}}
</mat-option> 

</mat-autocomplete>
<mat-error *ngIf="target.invalid && target.touched">
Fill Out Target Address as needed 
</mat-error>
<mat-hint>Example johnDoe&#64;gmail.com</mat-hint>
</mat-form-field>



<mat-form-field>
    <mat-label>CC</mat-label>
    <mat-chip-grid #chipGrid aria-label="Enter CC Emails">
      <mat-chip-row *ngFor="let choosenCC of ccCopies">
        {{choosenCC}}
        <button matChipRemove (click)="removeCC(choosenCC)">
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip-row>
    </mat-chip-grid>
    
    <input 
      [matChipInputFor]="chipGrid"
      [matChipInputAddOnBlur]="true"
      (matChipInputTokenEnd)="addCC($event)"
      placeholder="Add CC"
    />
    <mat-hint>Example:abcd&#64;gmail.com</mat-hint>
  </mat-form-field>
  
    
    <mat-form-field>
        <mat-label>Subject</mat-label>
        <input [(ngModel)]="subjectEmail"#subjectMailer="ngModel"  required type="email" matInput name="mailSubect">
        <mat-error *ngIf="subjectMailer.touched && subjectMailer.touched">
          Subject Ought be Filled
         </mat-error>
        <mat-hint>Example:Reservation Request</mat-hint>
        </mat-form-field>
        
        <div>
        <mat-label>Enter message</mat-label>
<jodit-editor (onChange)="captureMessage($event)"></jodit-editor>
      </div>

      <input #fileInput type="file" style="display: none;" >
      
      <div class="card flex justify-content-center">
        
        <p-fileUpload 
            name="demo[]" 
      
             (onUpload)="choosenFile($event)"
             (onSelect)="choosenFile($event)"
             
            [multiple]="true">
                <ng-template pTemplate="content">
                    <ul >
                    
                    </ul>
                </ng-template>
        </p-fileUpload>
    </div>
    
</form>

<mat-card-actions>
<button mat-flat-button *ngIf="!processingEmail && sendEmailForm.valid" (click)="sendingEmail()">Send</button>
<p-button label="Sending" *ngIf="processingEmail && sendEmailForm.valid" [raised]="true" severity="warning" loading/>
<p-button label="Send Mail" [style]="{'cursor':'not-allowed'}" disabled [raised]="true" severity="warning"  *ngIf="!sendEmailForm.valid"/>
    
</mat-card-actions>
<p-toast/>
</mat-card> 



<div *ngIf="fetchingEmails" class="spinner">
<p-progressSpinner/>

</div>