<header  (contactFormEmitter)="contact_handler($event)"></header>
<div class="safaris"  [@bounceRight]="bgState" #bg>
  <h1>We believe in getting you the best accomodation </h1>
</div>
<div class="main">
  <h1>Book your accommodation with Maasai Safaris</h1>
  <p>
    Discover a curated selection of premium accommodations that cater to every taste and budget  
</p>
  <mat-card  *ngIf="!findingDestinations" >
  <div  *ngFor="let dest of destinations" (click)="goDestinations(dest.hotelSlug,dest.hotelName)" >
      <img (click)="goDestinations(dest.hotelSlug,dest.hotelName)" [src]="dest.hotelThumbnail" alt="" />
    
    <h4>{{ dest.hotelName }}</h4>
     
      <mat-card-content [innerHTML]="sanitize(dest.hotelDescription)"></mat-card-content>
    
    <button class="button-5" (click)="requestQuote(dest.hotelName)" role="button">Request Quote</button>
    </div>
  </mat-card>
  <div [classList]="findingDestinations ? 'spin':'no-spin'">
<app-loader></app-loader>
  </div>

<section #contactRef>
  <app-contact ></app-contact>
</section>
  <footer></footer>
</div>











   


<p-dialog modal="true" [(visible)]="requestingQuote">
<requestquote [hotelName]="hotelSelected"></requestquote>
</p-dialog>
 <p-scrollTop/>