<mat-card>
<h1>Frequently Asked Questions</h1>
<p>Here are the most common questions we have received from our clients.</p>
<div class="frequent-questions">
<mat-accordion multi>
<mat-expansion-panel>
<mat-expansion-panel-header>
<mat-panel-title>What Should i pack for my Safari?</mat-panel-title>
</mat-expansion-panel-header>
<mat-panel-description>
Pack light, breathable clothing in neutral colors, a hat, sunglasses, sunscreen, insect repellent, comfortable walking shoes, a camera with extra batteries and memory cards, and binoculars. A light jacket or sweater is also recommended for early morning and evening game drives.
</mat-panel-description>
</mat-expansion-panel>


<mat-expansion-panel>
    <mat-expansion-panel-header>
    <mat-panel-title>Can i Bring my Children on a safari?</mat-panel-title>
    </mat-expansion-panel-header>
    <mat-panel-description>
        Absolutely! We offer family safari packages that include child-friendly activities and accommodations. Our guides are skilled at engaging children in learning about wildlife and conservation, making it a fun and educational experience for the whole family.
    </mat-panel-description>
    </mat-expansion-panel>


    <mat-expansion-panel>
        <mat-expansion-panel-header>
        <mat-panel-title>Can i customize my Safari Itinary</mat-panel-title>
        </mat-expansion-panel-header>
        <mat-panel-description>
            Yes, we offer customizable safari packages to suit your preferences and interests. Whether you want to focus on photography, bird watching, cultural experiences, or luxury accommodations, we can tailor an itinerary to meet your needs.
        </mat-panel-description>
        </mat-expansion-panel>


        <mat-expansion-panel>
            <mat-expansion-panel-header>
            <mat-panel-title>What Kind of food can i expect on a Safari?</mat-panel-title>
            </mat-expansion-panel-header>
            <mat-panel-description>
                Our lodges and camps provide a variety of delicious meals, including local and international cuisine. Special dietary requirements can be accommodated with advance notice. Bush meals and sundowners are also popular experiences offered during the safari.
            </mat-panel-description>
            </mat-expansion-panel>


            <mat-expansion-panel>
<mat-expansion-panel-header>
<mat-panel-title>What are the payment options for booking a Safari?</mat-panel-title>
</mat-expansion-panel-header>
<mat-panel-description>
    We accept various payment methods, including credit/debit cards, bank transfers, and PayPal. A deposit is usually required to confirm your booking, with the balance due closer to your travel dates.
</mat-panel-description>
</mat-expansion-panel>
</mat-accordion>


</div>



</mat-card>