<mat-card>
<h1>Create Long Life Safari Memories with us</h1>
<mat-card-footer>
<div>
<h2>Quick Links</h2> 
<mat-list>
<mat-list>
Masaai Mara Safari`s
</mat-list>

<mat-list>
Masaai Mara accomodation`s
</mat-list>
<mat-list>
Masaai Mara from Nairobi
</mat-list>
<mat-list>
Masaai Mara Conservancies
</mat-list>
<mat-list>
Great Wildebeast Migration
</mat-list>
<mat-list>
 Place`s to Visit in Masaai mara
</mat-list>
<mat-list>
Current Masaai mara parking fee
</mat-list>
<mat-list>
 Flight to Masaai Mara
</mat-list>
</mat-list>
</div>
<mat-divider style="background-color: white;"></mat-divider>
<div>
<h2>Get to Know Us</h2>
<mat-list>
<mat-list>About Masaai mara trips</mat-list>
<mat-list>Contact us</mat-list>
</mat-list>
</div>
<mat-divider style="background-color: white;"></mat-divider>
<div>
<h2>Explore more</h2>
<mat-list>
<mat-list>Masaai Mara Special offers</mat-list>
<mat-list>New`s and Events</mat-list>  
</mat-list>
</div>
<mat-divider style="background-color: white;"></mat-divider>
<div>
<h2>Connect with us</h2>
<div class="socials">
<img src="../../../assets/facebook.png" alt="">
<img src="../../../assets/twitter.png" alt="">
<img src="../../../assets/youtube.png" alt="">
<img src="../../../assets/linkedin (1).png" alt="">
<img src="../../../assets/social.png" alt="">
</div>
<h3>Secure Online Payment Options available</h3>
<img style="width: 100px;height: 50px;" src="https://www.masaimaratrips.com/assets/images/system/Secure-pay.png?v1.1.1" alt="">

</div>
</mat-card-footer>
<b>&copy;{{yr}} MasaaiMaraTrips.All Rights Reserved</b>

</mat-card>