<mat-card>
<mat-form-field appearance="outline">
<mat-label>Enter your Email</mat-label>
<input [(ngModel)]="email" required minlength="6" #mail="ngModel" type="text" matInput >
<mat-hint>Example:johndoegmail.com</mat-hint>
<mat-error *ngIf="mail.invalid">
Email is required as needed
</mat-error>

</mat-form-field> 

<mat-card-footer>
<button (click)="processRequest()" *ngIf="!processingRequest" style="background-color: rgb(242,159,8);color: white;" mat-flat-button>Request</button>
<button *ngIf="!processingRequest"  mat-dialog-close style="background-color: red;color: white;" mat-flat-button>Cancel</button>
<p-button *ngIf="processingRequest" loading="true" label="Processing Request"/>

</mat-card-footer>
<p-toast/>
</mat-card> 