<mat-card>
  <p-fileUpload
    class="upload"
    name="demo[]"
    url="https://www.primefaces.org/cdn/api/upload.php"
    mode="basic"
    accept=".csv"
    chooseLabel="Choose Destinations csv file"
    [style]="{ 'background-color': 'green' }"
    maxFileSize="1000000"
    (onSelect)="getDestinationsCSV($event)"
    (onUpload)="uploadCSV()"
  >
  </p-fileUpload>

  <form>
    <div class="infos">
      <h3>Basic Destination Information</h3>
      <mat-form-field>
        <mat-label>Enter Destination Name</mat-label>
        <input
          type="text"
          name="destination-name"
          matInput
          [(ngModel)]="destinationTitle"
        />
        <mat-hint>Example:Kiambu,Nairobi</mat-hint>
      </mat-form-field>

      <div>
        <label>Enter Destination About</label>
        <!-- <p-editor
          [style]="{ height: '245px' }"
          (onTextChange)="captureDestinationAbout($event)"
          placeholder="Enter Destination About.Example insights of the destination eg"
        /> -->

   <jodit-editor name="destination-about" (onChange)="captureDestinationAbout($event)"></jodit-editor>

      </div>

      <div>
        <label>Enter Destination Description:</label>
       <jodit-editor (onChange)="captureDestinationDescription($event)"></jodit-editor>
      </div>

      <div>
        <label>Destination Thumbnail Photo</label>
        <p-fileUpload
          name="demo[]"
          url="https://www.primefaces.org/cdn/api/upload.php"
          [multiple]="false"
          accept="image/*"
          maxFileSize="100000000000"
          (onSelect)="captureThumbnail($event)"
        >
          <ng-template pTemplate="content">
            <ul></ul>
          </ng-template>
        </p-fileUpload>
      </div>

      <div class="destination-photos">
        <div *ngFor="let dest of images; let i = index">
          <div>
            <strong>Images {{ i + 1 }}</strong>
            <p-fileUpload
              name="demo[]"
              url="https://www.primefaces.org/cdn/api/upload.php"
              [multiple]="false"
              accept="image/*"
              (onSelect)="chooserFile($event, i)"
              maxFileSize="100000000000"
            >
              <ng-template pTemplate="content">
                <ul></ul>
              </ng-template>
            </p-fileUpload>
          </div>
        </div>
        <mat-card-actions align="start">
          <button
          class="button-5"
            role="button"
            (click)="addImage()"
            [matBadge]="images.length"
          >
            Add Another Photo
          </button>
          <button style="margin-left: 12px;"  class="button-5"
          role="button" (click)="popImage()">Remove Photo</button>
        </mat-card-actions>
      </div>
    </div>
  </form>
  <button
    *ngIf="!processing"
    (click)="saveDestination()"
    class="button-5"
    role="button"
    style="width: fit-content;margin-top: 20px;"

  >
    Create Destination
  </button>
  <p-button
    loading
    *ngIf="processing"
    [style]="{ 'background-color': 'rgb(252,166,8)' }"
    label="Saving"
  ></p-button>
</mat-card>
