<header></header>
<img class="img-bg" src="../../../assets/destinations_bg.jpg" alt="destinations_bg">
<div class="main">
  <h1>Explore our stunning Safari destinations in Kenya</h1>
<mat-card *ngIf="!findingDestinations">
    <div (click)="goDestinations(dest.destinationSlug,dest.destinationTitle)" *ngFor="let dest of destinations">
      <img [src]="dest.destinationThumbnail" alt="" />
      <span class="label">{{dest.destinationTitle}}</span>
      <main>
        <mat-icon style="color: rgb(228, 106, 118)">place</mat-icon>
      <h4>{{ dest.destinationTitle }}</h4>
      </main>

      <mat-card-content [innerHTML]="sanitize(dest.destinationAbout)"></mat-card-content>
    </div>
  </mat-card>


  <p-scrollTop/>
  <div [classList]="findingDestinations ? 'spin':'no-spin'">
    <p-progressBar
    mode="indeterminate"
    [style]="{ height: '6px' }"
    *ngIf="findingDestinations"
  />
  </div>

  <footer></footer>
</div>
