<header (contactFormEmitter)="contact_handler($event)"></header>

<div
*ngIf="!fetching" 
  class="hero-section"
  [ngStyle]="{
    'position': 'relative',
    'width': '100%',
    'height': '70vh',
    'overflow': 'hidden',
    'background-image': 'url(' + packageData.packageImage + ')',
    'background-size': 'cover',
    'background-position': 'center',
    'background-repeat': 'no-repeat'
  }"
>
  <div class="overlay"></div>
  <div class="text-content">
    <h1 class="main-heading">
      {{ packageData.packageTitle }}
    
    </h1>
    <p class="sub-heading">{{ packageData.packageAbout.length }} Days/{{packageData.packageAbout.length -1}} Nights</p>
  </div>
</div>


<div *ngIf="!fetching" class="container">



  

  <div class="info-card">
      <div class="icon-container">
          <div class="icon-circle">i</div>
          <span class="info-label">Information</span>
      </div>
      <div class="content">
          <p>{{packageData.adults}} Adults</p>
          <p>{{packageData.children}} Children</p>
          <p>{{packageData.packageAbout.length}} Days / {{packageData.packageAbout.length - 1}} Nights</p>

      </div>
  </div>
  <section>
  <app-accomodations-summary [summaryInformation]="accomodationsSummary"></app-accomodations-summary>
    </section>
  <section>
  <app-trans-port-summary [summaryInformation]="transportSummary"></app-trans-port-summary>
  </section>
  <div class="info-card">
    <div class="icon-container">
        <div class="icon-circle">i</div>
        <span class="info-label">Pricing</span>
    </div>
    <div class="content">
        <p>NET PRICE = {{ packageData.packageChargeCurrency }} {{priceFormatter(packageData.packageCharge) }}</p>
        
   
    </div>
</div>
  <app-maps  [origin]="origin" [destination]="dest" [wayPoints]="way_points"></app-maps>
  <div class="card" >

       
        <div class="package-overview" #itinerary >
          <p-accordion [activeIndex]="0" *ngFor="let itenerary of comprehensiveItinerary; let i = index">
            <p-accordionTab [header]="'Day ' + (i + 1)+': '+itenerary.title"  >
              <div class="package-overview-html" [innerHTML]="sanitize(itenerary.description)"></div>
              <h1 style="font-weight: bolder;text-align: left;">Destination:</h1>
             <app-destination-view [destination]="itenerary.destination"></app-destination-view>
             <h1 style="font-weight: bolder;text-align: left;">Accomodation:</h1>
             <app-accomodations-view [destination]="itenerary.accomodation"></app-accomodations-view>
             Meal Plan:<div class="package-overview-html" [innerHTML]="sanitize(itenerary.mealPlan)"></div>
              <div class="card">
                <p-carousel 
                    [value]="itenerary.images" 
                    [numVisible]="3" 
                    [showNavigators]="false"
                    [numScroll]="3" 
                    [circular]="true" 
                    [responsiveOptions]="responsiveOptions" 
                    autoplayInterval="3000">
                    <ng-template let-img pTemplate="item">
                        <div class="m-2 p-2">
                            <img 
                                [src]="img" 
                                alt="Carousel Image" 
                                class="gallery-thumb"
                                 />
                        </div>
                    </ng-template>
                </p-carousel>
              </div>
              


            </p-accordionTab>
          </p-accordion>
          

        </div>

        <div class="in-ex">
          <div class="package-overview" #inclusions>
            <h2>Inclusions</h2>
            <mat-list *ngFor="let inc of formatInclusives(packageData.packageInclusives)">
              <mat-list-item matListItemAvatar>
                <span matListItemTitle>{{inc}}</span>
                <mat-icon style="color: green;" matListItemIcon>check</mat-icon>
              </mat-list-item>
            </mat-list>
          </div>
          <div class="package-overview" #exclusions>
            <h2>Exclusions</h2>
            <mat-list *ngFor="let excl of formatExclusives(packageData.packageExclusives)">
              <mat-list-item matListItemAvatar>
                <span matListItemTitle>{{excl}}</span>
                <mat-icon style="color: red;" matListItemIcon>close</mat-icon>
              </mat-list-item>
            </mat-list>
          </div>
        </div>
        <div class="package-overview" #specialNotes>
          <h2>Special Notes</h2>
          <div class="package-overview-html" [innerHTML]="sanitize(packageData.packageSpecialNotes)"></div>
        </div>
     
     
 


  </div>



</div>

<div [classList]="fetching ? 'spin':'no-spin'">
  <div class="loader"></div>
</div>
<p-scrollTop/>
<app-contact #contactRef></app-contact>
<footer></footer> 