<header></header>

<mat-card *ngIf="!findingBlog" class="blog-wrapper">
  <!-- Main blog content -->
  <div class="blog-content">
    <h1>{{ blogData.blogTitle }}</h1>

    <div class="blog-image">
      <img [src]="blogData.blogThumbnail" alt="">
    </div>

    <div class="blog-meta">

      <div [innerHTML]="sanitize(blogData.blogContent)"></div>
    </div>

   
  </div>

  <!-- Related blogs on the right -->
  <aside class="related-blogs">
    <related-blogs [relatedBlogs]="relevantBlogs"></related-blogs>
  </aside>
</mat-card>

<div *ngIf="findingBlog" class="waiting">
<app-loader></app-loader>
</div>
<app-contact id="contact"></app-contact>
<footer></footer>


<p-scrollTop/>
