<header (contactFormEmitter)="contact_handler($event)"></header>
<div [classList]="fetchingDestination ? 'spin' : 'no-spin'">
  <div class="loader"></div>
</div>
<div
  class="safaris"
  *ngIf="!fetchingDestination"
  [@bounceRight]="bgState"
  #bg
  [ngStyle]="{
    'background-image': 'url(' +destinationData.hotelThumbnail+')',
    'background-position': 'center',
    'overflow': 'hidden',
    'background-repeat': 'no-repeat',
    'min-height': '100vh',
    'width': '100%',
    'display': 'flex',
    'flex-direction': 'column',
    'justify-content': 'center',
    'align-items': 'center',
    'background-size': 'cover'
  }"
>
  <h1>{{ destinationData.hotelName }}</h1>
</div>

<mat-card class="container">
  <h1>{{ destinationData.hotelName }}</h1>
  <div *ngIf="!fetchingDestination" class="content-column">
   

    <div class="description-wrapper">
      <mat-card-content
        style="margin-top: 00px"
        [innerHTML]="destinationDescription"
      ></mat-card-content>
      <mat-card-content
        style="margin-top: 0px"
        class="truncate-text"
        [innerHTML]="destinationAbout"
      ></mat-card-content>
      <!-- <mat-card-content
        style="margin-top: 10px"
        class="truncate-text"
        [innerHTML]="hotelMetaDescription"
      ></mat-card-content> -->

     
      
    </div>
<app-accomodations-gallery [imgs]="destinationPhoto"></app-accomodations-gallery>
<div class="book-safari-web">
  <button class="button-5" role="button" (click)="book()">Book This Hotel</button>
 </div>
 <div class="book-safari">
  <button class="button-5" role="button" (click)="book()">Book This Hotel</button>
 </div> 
    <div class="map-wrapper">
    
      <google-map
        class="map"
        width="100%"
        mapId="21e602fe038c55d3"
        [center]="{
          lat: +destinationData.latitude,
          lng: +destinationData.longitude
        }"
        [zoom]="10"
      >
        <map-marker
          [position]="{
            lat: +destinationData.latitude,
            lng: +destinationData.longitude
          }"
          title="Destination"
        ></map-marker>
      </google-map>
    </div>
  </div>




  <p-scrollTop />

  
</mat-card>


<app-contact id="contact" #contactRef></app-contact>
<footer></footer>