<header></header>
<div [classList]="fetchingDestination ? 'spin' : 'no-spin'">
  <div class="loader"></div>
</div>
<mat-card class="container">
  <h1>{{ destinationData.hotelName }}</h1>
  <div *ngIf="!fetchingDestination" class="content-column">
    <div class="galleria-wrapper">
      <div class="card">
        <p-galleria  
        [value]="destinationPhoto" 
        [responsiveOptions]="responsiveOptions" 
        showThumbnailNavigators="false"
        showIndicators="false"
        showThumbnails="false"
        autoPlay="true"
        circular="true"
        [numVisible]="5"
        [transitionInterval]="4000"
      > 
        <ng-template pTemplate="item" let-item>
          <img 
            class="img-galleria"
            [src]="item.src" 
         
          />
        </ng-template>
      </p-galleria>
      
      </div>
    </div>

    <div class="description-wrapper">
      <mat-card-content
        style="margin-top: 20px"
        [innerHTML]="destinationDescription"
      ></mat-card-content>
      <mat-card-content
        style="margin-top: 20px"
        class="truncate-text"
        [innerHTML]="destinationAbout"
      ></mat-card-content>
      <mat-card-content
        style="margin-top: 20px"
        class="truncate-text"
        [innerHTML]="hotelMetaDescription"
      ></mat-card-content>

     
      
    </div>

    <div class="map-wrapper">
    
      <google-map
        class="map"
        width="100%"
        mapId="21e602fe038c55d3"
        [center]="{
          lat: +destinationData.latitude,
          lng: +destinationData.longitude
        }"
        [zoom]="10"
      >
        <map-marker
          [position]="{
            lat: +destinationData.latitude,
            lng: +destinationData.longitude
          }"
          title="Destination"
        ></map-marker>
      </google-map>
    </div>
  </div>
<section>
<app-contact></app-contact>
</section>

  <p-scrollTop />

  
</mat-card>



<footer></footer>