<h1>Send Bulk Mails</h1>


<div class="table-form" *ngIf="!processingTable">

  <mat-card-header  *ngIf="!sendingMails && !savingCsv">
    <button mat-flat-button (click)="openBulk()" >
    Add new Mail
    </button> 

    <p-fileUpload 
    class="upload"

    name="demo[]" 
    url="https://www.primefaces.org/cdn/api/upload.php" 
mode="basic"
accept=".csv"
(onSelect)="choosenCsvFile($event)"
(onUpload)="saveBulksCsv()"
   chooseLabel="Choose csv file"
   [style]="{'background-color':'green'}"
   maxFileSize="1000000">
     
</p-fileUpload>

 
    <button mat-flat-button  *ngIf="mailType=='ordinary mail'" (click)="sendBulks()" [matBadge]="choosenDefaults.length" >
    Send Mails 
    </button> 
    <button mat-flat-button *ngIf="mailType=='newsletter'" [matBadge]="choosenDefaults.length" (click)="sendBulksNewsTemplates()" >
      Send Newsletter
      </button>
    <p-fileUpload 
    *ngIf="mailType == 'ordinary mail'"
    name="demo[]" 
    url="https://www.primefaces.org/cdn/api/upload.php" 
    (onUpload)="choosenFile($event)"
    (onSelect)="choosenFile($event)"
    [multiple]="true" 
   maxFileSize="1000000">
        <ng-template pTemplate="content">
            <ul >
            
            </ul>
        </ng-template>
</p-fileUpload>

</mat-card-header>
<p-button loading [style]="{'background-color':'rgb(252,166,8)'}"   label="Sending mails" *ngIf="sendingMails"></p-button>
<p-button loading  label="Processing csv" [style]="{'background-color':'green'}" *ngIf="savingCsv"></p-button>
<mat-form-field>
<mat-label>Choose mail type</mat-label>
<mat-select [(value)]="mailType">
<mat-option value="ordinary mail">Text Mail</mat-option>
<mat-option value="newsletter">Newsletter</mat-option>
</mat-select>

</mat-form-field>

<mat-form-field *ngIf="!processingTable && mailType=='ordinary mail'" appearance="outline">
<mat-label>Choose Subject</mat-label> 
<mat-select required >
<mat-option *ngFor="let temps of emailTemplates" [value]="temps.id" (onSelectionChange)="log($event)">
{{temps.subject}}  
</mat-option>  
</mat-select>
</mat-form-field>
<mat-form-field *ngIf="!processingTable && mailType=='newsletter'" appearance="outline">
  <mat-label>Choose Newsletter</mat-label> 
  <mat-select required  [(value)]="newsleteterid">
  <mat-option *ngFor="let letter of newsLetterTemplates" [value]="letter.id" (onSelectionChange)="log($event)">
  {{letter.Title}}   
  </mat-option> 
  </mat-select>
  </mat-form-field>

<mat-form-field >
  <mat-label>Search any email</mat-label>
  <input type="text" matInput (keyup)="applyFilter($event)" #inputSelect>
  <mat-hint>Example:johndoegmail.com</mat-hint>
  </mat-form-field>
</div>
 

<table mat-table [dataSource]="dataSource" *ngIf="!processingTable" class="table-visible">
  <ng-container matColumnDef="chooseAll">
    <th mat-header-cell *matHeaderCellDef>
      <mat-checkbox (change)="someEvent($event)"></mat-checkbox>
    </th>
    <td mat-cell *matCellDef="let element"> 
  
    </td>
  </ng-container>
 
  <ng-container matColumnDef="choosen">
    <th mat-header-cell *matHeaderCellDef>Selected</th>
    <td mat-cell *matCellDef="let element"> 
    <mat-checkbox [checked]="chooseAll" (change)="checkSingle($event,element.email)"></mat-checkbox>
    </td>
  </ng-container>
  <ng-container matColumnDef="fullname">
    <th mat-header-cell *matHeaderCellDef>FullName</th>
    <td mat-cell *matCellDef="let element"> {{element.fullname}} </td>
  </ng-container>

  
  <ng-container class="table-visible" matColumnDef="category">
    <th mat-header-cell *matHeaderCellDef>Category</th>
    <td mat-cell *matCellDef="let element"> {{element.category}} </td>
  </ng-container>


  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef> Email</th>
    <td mat-cell *matCellDef="let element"> {{element.email}} </td>
  </ng-container>


  <ng-container class="table-visible" matColumnDef="identificationNumber">
    <th mat-header-cell *matHeaderCellDef>Identification Number</th>
    <td mat-cell *matCellDef="let element"> {{element.identificationNumber}} </td>
  </ng-container>

  <ng-container class="table-visible" matColumnDef="country">
    <th mat-header-cell *matHeaderCellDef>Country</th>
    <td mat-cell *matCellDef="let element"> {{element.country}} </td>
  </ng-container>

  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef>Action</th>
    <td mat-cell *matCellDef="let element">
    <button mat-icon-button matTooltip="actions" [mat-menu-trigger-for]="menu">
    <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu>
     <button mat-menu-item (click)="popUpdate(element)">
      <mat-icon>edit</mat-icon>
      <span>Edit</span>
     </button>
     <button mat-menu-item (click)="popDelete(element)">
      <mat-icon style="color: red;">delete</mat-icon>
      <span>Delete</span>
     </button>

    </mat-menu>

    
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row  *matRowDef="let row; columns: displayedColumns;"></tr>
  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell" colspan="4">No data matching the filter </td>
  </tr>
</table>



<table mat-table [dataSource]="dataSource" *ngIf="!processingTable" class="table-visible-small">
  <ng-container matColumnDef="chooseAll">
    <th mat-header-cell *matHeaderCellDef>
      <mat-checkbox (change)="someEvent($event)"></mat-checkbox>
    </th>
    <td mat-cell *matCellDef="let element"> 
  
    </td>
  </ng-container>
 
  <ng-container matColumnDef="choosen">
    <th mat-header-cell *matHeaderCellDef>Selected</th>
    <td mat-cell *matCellDef="let element"> 
    <mat-checkbox [checked]="chooseAll" (change)="checkSingle($event,element.email)"></mat-checkbox>
    </td>
  </ng-container>
 

  
  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef> name</th>
    <td mat-cell *matCellDef="let element"> {{element.fullname}} </td>
  </ng-container>





  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef>Action</th>
    <td mat-cell *matCellDef="let element">
    <button mat-icon-button matTooltip="actions" [mat-menu-trigger-for]="menu">
    <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu>
     <button mat-menu-item (click)="popUpdate(element)">
      <mat-icon>edit</mat-icon>
      <span>Edit</span>
     </button>
     <button mat-menu-item (click)="popDelete(element)">
      <mat-icon style="color: red;">delete</mat-icon>
      <span>Delete</span>
     </button>

    </mat-menu>

    
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumnsSmallScreen"></tr>
  <tr mat-row  *matRowDef="let row; columns: displayedColumnsSmallScreen;"></tr>
  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell" colspan="4">No data matching the filter </td>
  </tr>
</table>

<mat-paginator  [pageSizeOptions]="[5, 10, 20]"
               showFirstLastButtons
               aria-label="Select page of periodic elements">
</mat-paginator>

<p-toast/>

<div class="spin">
 <p-progressSpinner *ngIf="processingTable"/>
</div>