<mat-card *ngIf="!fetchingDestinations">
  <form>
    <div class="infos">
      <h3>Basic Room Information</h3>
      <mat-form-field>
        <mat-label>Enter Room Type</mat-label>
        <input
          required
          type="text"
          name="hotel-name"
          [(ngModel)]="roomType"
          matInput
        />
        <mat-hint>Example:Presidential Suite</mat-hint>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Choose Hotel</mat-label>
        <mat-select required [(value)]="idSelected">
          <mat-option
            (onSelectionChange)="chooser($event)"
            *ngFor="let destinaton of destinationsData"
            [value]="destinaton.id"
          >
            {{ destinaton.hotelName }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div>
        <label>Enter Room Description</label>
      <jodit-editor (onChange)="captureRoom($event)"></jodit-editor>
      </div>

      <mat-form-field>
        <mat-label>Bed and Breakfast</mat-label>
        <input
          type="text"
          name="bed-breakfast"
          required
          matInput
          [(ngModel)]="bedBreakfast"
        />
        <mat-hint>Separate Sing,Double and Triple,eg 5000,10000,25000</mat-hint>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Half Board</mat-label>
        <input
          type="text"
          name="half-board"
          required
          matInput
          [(ngModel)]="halfBoard"
        />
        <mat-hint>Separate Sing,Double and Triple,eg 5000,10000,25000</mat-hint>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Full Board</mat-label>
        <input
          type="text"
          name="full-board"
          required
          matInput
          [(ngModel)]="fullBoard"
        />
        <mat-hint>Separate Sing,Double and Triple,eg 5000,10000,25000</mat-hint>
      </mat-form-field>

      <mat-form-field>
        <mat-label>All Inclusive</mat-label>
        <input
          type="text"
          name="all-inclusive"
          required
          matInput
          [(ngModel)]="allInclusive"
        />
        <mat-hint>Separate Sing,Double and Triple,eg 5000,10000,25000</mat-hint>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Single Room Rate Child</mat-label>
        <input
          type="number"
          [(ngModel)]="singleRoomRateChild"
          matInput
          name="hotel-commission"
        />
        <mat-hint>Example 5%</mat-hint>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Double Room Rate Child</mat-label>
        <input
          type="number"
          [(ngModel)]="doubleRoomRate"
          matInput
          name="hotel-maximum-room-rate"
        />
        <mat-hint>Example 22%</mat-hint>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Sharing Room rate child</mat-label>
        <input
          type="number"
          name="single-room-rate"
          required
          matInput
          [(ngModel)]="sharingRoomRate"
        />
        <mat-hint>22%</mat-hint>
      </mat-form-field>

      <div class="hotel-photos">
        <div *ngFor="let dest of images; let i = index">
          <div>
            <strong>Images {{ i + 1 }}</strong>
            <p-fileUpload
              name="demo[]"
              url="https://www.primefaces.org/cdn/api/upload.php"
              [multiple]="false"
              accept="image/*"
              (onSelect)="chooserFile($event, i)"
              maxFileSize="100000000000"
            >
              <ng-template pTemplate="content">
                <ul></ul>
              </ng-template>
            </p-fileUpload>
          </div>
        </div>
        <mat-card-actions align="start">
          <button
           role="button"
           class="button-5"
            (click)="addImage()"
            [matBadge]="images.length"
          >
            Add Another Photo
          </button>
          <button role="button" class="button-5" (click)="popImage()">Remove Photo</button>
        </mat-card-actions>
      </div>
    </div>

    <div class="contact-information">
      <h3>More Information About Room</h3>
      <mat-form-field>
        <mat-label>Room Count</mat-label>
        <input
          type="number"
          required
          [(ngModel)]="roomCount"
          name="contact-Email"
          matInput
        />
        <mat-hint>Example 5:These Described number of rooms available</mat-hint>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Maximum Room Occupancy</mat-label>
        <input
          type="number"
          name="maxOccupancy"
          required
          [(ngModel)]="maxOccupancy"
          matInput
        />
        <mat-hint>Example:5</mat-hint>
      </mat-form-field>
    </div>
  </form>
  <button
    *ngIf="!processing"
    (click)="createRoom()"
    style="
     
      width: fit-content;
      margin-top: 20px;
    "
  class="button-5"
  role=""
  >
    Create Room
  </button>
  <p-button
    loading
    *ngIf="processing"
    [style]="{ 'background-color': 'rgb(252,166,8)' }"
    label="Saving"
  ></p-button>
</mat-card>

<div class="spinner" *ngIf="fetchingDestinations">
  <p-progressSpinner />
</div>
