<mat-card>
  <form #promotionalForm="ngForm">
<mat-form-field>
  <mat-label>NewletterTitle</mat-label>
  <input type="text" #title="ngModel" required name="titlePromotional" matInput [(ngModel)]="Title">
<mat-error *ngIf="title.touched && title.invalid">
Provide title Field as needed
</mat-error>

</mat-form-field>

    <div class="destinations">
      <div *ngFor="let dest of Destinations; let i = index">
        <mat-form-field>
          <mat-label>Enter Title Destination {{ i + 1 }}</mat-label>
          <input  #destinationField="ngModel" required type="text" name="destinationOneTitle" matInput [(ngModel)]="dest['destinationTitle' + (i+1)]" />
          <mat-error *ngIf="destinationField.invalid && destinationField.touched">
            Provide Destination Title as needed
          </mat-error>
        </mat-form-field>
        <div>
          <label>Enter Descripton for paragraph {{i + 1}}</label>
         <jodit-editor (onChange)="editorValue($event,i)"></jodit-editor>
        </div>
        <mat-form-field>
          <mat-label>Enter Price Destination {{ i + 1 }}</mat-label>
          <input type="number" required matInput #priceDest="ngModel" name="destinationPrice" [(ngModel)]="dest['destinationPrice' + (i+1)]" />
          <mat-error *ngIf="priceDest.invalid && priceDest.touched">
            Provide Price of Destination as needed
          </mat-error>
        </mat-form-field>
        <div>
          <p-fileUpload
            name="demo[]"
            url="https://www.primefaces.org/cdn/api/upload.php"
            [multiple]="true"
            accept="image/*"
            maxFileSize="100000000000"
            (onSelect)="chooserFile($event,i)"
          >
            <ng-template pTemplate="content">
              <ul></ul>
            </ng-template>
          </p-fileUpload>
        </div>
      </div>
      <mat-card-actions align="start">
        <button [matBadge]="Destinations.length" class="button-5" role="button" (click)="addDestinations()">
          Add Paragraph
        </button>
        <button [matBadge]="Destinations.length" class="button-5" role="button" mat-flat-button (click)="popDestintions()">
          Remove paragraph
        </button>
      </mat-card-actions>
    </div>

   
    <mat-form-field>
      <mat-label>Enter Hot Discount</mat-label>
      <input type="number" required [(ngModel)]="hotDiscount" matInput name="hotDiscount" />
    </mat-form-field>

    <mat-form-field>
    <mat-label>Hot Discount Description</mat-label>
    <textarea  [(ngModel)]="hotDiscountDescription" required name="hotDiscountDescription" matInput cols="7" rows="7"></textarea>
  <mat-hint>Example:Offer for maasai mara staycations at x Amount</mat-hint>  
  </mat-form-field>

    <mat-form-field>
      <mat-label>Enter Special Deal </mat-label>
      <input type="text" required [(ngModel)]="specialDealTitle" matInput name="specialDealTitle" />
      <mat-hint> DEAL OF THE MONTH ANGAMA MARA </mat-hint>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Enter Special Deal Description </mat-label>
      <textarea  required name="specialDescription" matInput cols="7" [(ngModel)]="specialDealDescription" rows="7"></textarea>
      <mat-hint> Describe special deal</mat-hint>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Enter Special Deal Discount </mat-label>
      <input required type="number" [(ngModel)]="specialDealDiscount" matInput name="hotDiscount" />
    </mat-form-field>
    <a href="https://app.tango.us/app/workflow/Creating-a-Newsletter-in-MaasaiTrips-3702f1c77da947c2bc9b6c6b77cc7bd3" target="blank">Not So sure of doing this?Watch a step by step guide</a>
    <mat-card-actions align="start">
      <button *ngIf="!processing && promotionalForm.valid" mat-flat-button  (click)="saveNewsLetter()">Create</button>
      <button *ngIf="!processing && promotionalForm.valid" mat-flat-button (click)="previewing()">Preview</button>
      <p-button loading *ngIf="processing" severity="warning" [raised]="true"   label="Saving" ></p-button>
      <p-button disabled *ngIf="!processing && !promotionalForm.valid" severity="warning" [raised]="true"   label="Create" ></p-button>
    </mat-card-actions>
  </form>
</mat-card>

<p-toast/>
