* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.button-5 {
  align-items: center;
  background-clip: padding-box;
  background-color: #e88b22;
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "Red Hat Display", sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.button-5:hover,
.button-5:focus {
  background-color: #e88b22;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.button-5:hover {
  transform: translateY(-1px);
}

.button-5:active {
  background-color: #e88b22;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}
.head {
  position: sticky;
  top: 0;
}
.about-mara-depth p,
strong,
h3,
span,
b,
ul,
li,
h2 {
  color: white;

  line-height: 1.5;
}
.explores mat-card {
  margin-left: 15.55px;
}
.about-mara-depth span {
  max-lines: 4;
}
.explores {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.explores p {
  font-weight: bolder;
}
.explores mat-card button {
  background-color: rgb(232, 139, 34);
  color: white;
  width: max-content;
  margin: 5px;
}
.explores mat-card p {
  padding: 15px;
}
h1 {
  text-align: center;
}
.explores img {
  width: 100%;
}
li {
  padding-top: 22px;
}
.about-mara-depth {
  margin-top: 10px;
  min-width: 100%;
  max-width: 100vw;
  background: #232526; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #414345,
    #232526
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #414345,
    #232526
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.about-mara-depth mat-card {
  background: #232526; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #414345,
    #232526
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #414345,
    #232526
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  display: flex;
  flex-direction: row;
}
.about-mara-depth mat-card mat-card-content {
  margin-left: 15px;
}
.about-mara-depth h3 {
  text-align: center;
}
.about-mara-depth img {
  width: 550px;
}
mat-card-header {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-big{
width: 100vw;
}
mat-card-header img {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}
.card{
  width: 100vw;
margin: 0;

}
.content-galleria{
  position: absolute;
    bottom: 50%;
    left: 30%;
    transform: translateX(-50%);
    color: white;
    text-align: center;
   
    padding: 10px 20px;
    border-radius: 10px;
}
.main-caption{
  font-size: 21px;
  letter-spacing: 1.55px;
  font-weight: bolder;
}
.about-mara h1 {
  text-align: center;
}
.about-mara p {
  letter-spacing: 1.15px;
  font-size: 14.5px;
}
.about-mara-depth mat-card mat-card-content {
  margin-left: 0px;
}
.about-mara {
  background-color: rgb(255, 255, 255);
  text-align: left;
  align-items: center;
  margin-left: 30px;
  margin-right: 30px;
}

@media (max-width: 768px) {
  .about-mara {
    margin-left: 0;
    margin-right: 0;
    padding-left: 6px;
    padding-right: 6px;
    margin-top: calc(50px + 20vh); /* Adjust this value as needed */
   
  }
  .content-galleria{
    left: 50%;
   top: 50%; 
  }
  mat-card mat-card-header {
    max-height: 50vh;
    height: fit-content;
   
 
  }
  .about-mara-depth img {
    width: 100%;
  }
  .explores {
    min-width: 100vw;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .explores mat-card {
    margin: 7.5px;
  }
  .explores mat-card button {
    width: fit-content;
    margin-left: 2;
  }
  .about-mara h1,
  p {
    padding-top: 2px;
    padding-bottom: 2px;
  }
  .about-mara-depth mat-card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
}

@media (min-width: 801px) and (max-width: 860px) {
  p,
  h1,
  h2,
  strong {
    padding-left: 10px;
    padding-right: 10px;
  }
  .about-mara {
    margin-left: 0;
    margin-right: 0;
    padding-left: 6px;
    padding-right: 6px;
  }
  mat-card mat-card-header {
    height: 45vh;
  }
  .explores mat-card {
    padding: 0;
    margin-left: 5px;
  }
  .about-mara-depth {
    width: 100vw;
  }
  .about-mara-depth mat-card mat-card-content {
    width: 100vw;
    margin: 0px;
  }

  .about-mara-depth mat-card mat-card-content {
    margin-left: 0;
  }
  .explores {
    margin: 0;
    padding: 0;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
  }
}
