<mat-card>
  <header (contactFormEmitter)="contact_handler($event)"></header>

  <mat-card-header>
   <div class="card">
    <p-galleria  
    [value]="homeImages" 
    [responsiveOptions]="responsiveOptions" 
    showThumbnailNavigators="false"
    showIndicators="false"
    showThumbnails="false"
    autoPlay="true"
    circular="true"
    [numVisible]="5"
    [transitionInterval]="4000"
        
        
        > 
            <ng-template pTemplate="item" let-item>
                <img class="img-big" [src]="item.itemImageSrc" style="width: 100%;" />
            <div class="content-galleria">

              <h1  class="main-caption">{{ item.title }}</h1>
              
              <button [routerLink]="['.']" fragment="contact"  role="button"  class="button-5">Book Now</button>

            </div>
            
              </ng-template>
           
    </p-galleria>
</div>
  </mat-card-header>

  <div #animatedElement class="about-mara">
    <h1 class="text-xs" >Masaai Mara</h1>

    <p>
      The Maasai Mara in southwestern Kenya is a vast 1,510-square-kilometer savannah reserve, famous for its Big Five wildlife, more than 450 bird species, and the spectacular Great Wildebeest Migration that takes place each year from July to October, when millions of animals cross the Mara River.
    </p>
    


   
  </div>

 

   <feature-safaris   [featureSafaris]="package_data" [showOverview]="false"></feature-safaris>


<section>
  
<app-explorations></app-explorations>
</section> 
<section >
<app-testmonials (contactFormEmitter)="contact_handler($event)"></app-testmonials>
</section>



<app-contact #contactRef></app-contact>

  <footer></footer>

  <p-scrollTop />
</mat-card>
