<mat-dialog-content>
  <h1>Get your Safari quote</h1>
  <p>Please fill the form including all the information you need to know about Masai Mara Safari.</p>

  <form #quoteForm="ngForm">
    <div class="formA">
      <mat-form-field>
        <mat-label>Enter Your First Name</mat-label>
        <input autocomplete="off" type="text" required name="firstName" matInput [(ngModel)]="firstName" #FirstName="ngModel">
        <mat-hint>Example: John</mat-hint>
        <mat-error *ngIf="FirstName.invalid && FirstName.touched">
          This field must be filled
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Enter Your Last Name</mat-label>
        <input autocomplete="off" type="text" required [(ngModel)]="secondName" #lastName="ngModel" name="lastName" matInput>
        <mat-hint>Example: Doe</mat-hint>
        <mat-error *ngIf="lastName.invalid && lastName.touched">
          Please provide Last Name
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Enter Your Email</mat-label>
        <input autocomplete="off" required type="email" name="email" matInput [(ngModel)]="email" #Email="ngModel">
        <mat-error *ngIf="Email.invalid && Email.touched">
          Email must be provided
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Enter Your Phone Number</mat-label>
        <input autocomplete="off" [(ngModel)]="phoneNumber" required #phone="ngModel" minlength="10" type="number" name="phoneNumber" required maxlength="12" matInput>
        <mat-error *ngIf="phone.invalid && phone.touched">
          Phone number must be provided
        </mat-error>
      </mat-form-field>
    </div>

    <div class="formB">
      <mat-form-field>
        <mat-label>Enter a Date Range</mat-label>
        <mat-date-range-input [rangePicker]="picker">
          <input required matStartDate placeholder="Start date" (dateChange)="seeStartDate($event)">
          <input matEndDate required placeholder="End date" (dateChange)="endDateFormat($event)">
        </mat-date-range-input>
        <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Number of Adults</mat-label>
        <input autocomplete="off" type="number" required matInput name="adults" [(ngModel)]="adultsCount">
        <mat-hint>Example: 2</mat-hint>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Number of Children</mat-label>
        <input type="number" autocomplete="off" matInput name="children" [(ngModel)]="childrenCount">
        <mat-hint>Example: 5 (Optional)</mat-hint>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Provide Children Ages</mat-label>
        <input type="text" matInput name="ages" [(ngModel)]="kidsAges">
        <mat-hint>Example: Enter each age separated by a comma (Optional)</mat-hint>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Number of Rooms</mat-label>
        <input type="number" required matInput name="rooms" [(ngModel)]="roomsCount">
        <mat-hint>Example: 3</mat-hint>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Enter Your Travel Details</mat-label>
        <textarea matInput name="desp" [(ngModel)]="travelDescription" cols="1" rows="1"></textarea>
        <mat-hint>Example: Describe your travel preferences (Optional)</mat-hint>
      </mat-form-field>
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-flat-button *ngIf="!processingQuote && quoteForm.valid" (click)="actualizeSave()" [disabled]="quoteForm.invalid">
    Submit
  </button>
  <p-button *ngIf="!processingQuote && !quoteForm.valid" label="Submit" disabled [raised]="true" severity="warning" />
  <p-button *ngIf="processingQuote " label="Processing Quote" loading [raised]="true" severity="warning" />

</mat-dialog-actions>
