*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
mat-card{
min-height: 100vh;
max-height: 100%;
}
table{
width: 100%;
height: 100%;
}
mat-card mat-card-content{
min-width: 100%;
max-width: 100%;
}
mat-card mat-card-content table{
width: 100%;
}
