<mat-card>
  <form>
    <mat-form-field appearance="outline" >
      <mat-label>Enter Title</mat-label>
      <input type="text" [(ngModel)]="title" required name="title" matInput />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Title for Entry 1</mat-label>
      <input type="text"[(ngModel)]="titleEntry1"  name="title" matInput />
    </mat-form-field>
    <p-editor (onTextChange)="captureValueOne($event)" placeholder="Content for entry one" [style]="{height:'100px'}"  />

    <div>
      <p-fileUpload
        name="demo[]"
       
    
        accept="image/*"
        (onSelect)="uploadImageOne($event)"
        maxFileSize="1000000"
      >
        <ng-template pTemplate="content">
          <ul></ul>
        </ng-template>
      </p-fileUpload>
    </div>


    <mat-form-field appearance="outline">
        <mat-label>Title for Entry 2</mat-label>
        <input type="text" name="title" matInput [(ngModel)]="titleEntry2" />
      </mat-form-field>
      <p-editor (onTextChange)="captureValueTwo($event)" placeholder="Content for entry two"  [style]="{height:'100px'}" />
  
      <div>
        <p-fileUpload
          name="demo[]"
          url="https://www.primefaces.org/cdn/api/upload.php"
         
          (onSelect)="uploadImageTwo($event)"
          
          accept="image/*"
          maxFileSize="1000000000"
        >
          <ng-template pTemplate="content">
            <ul></ul>
          </ng-template>
        </p-fileUpload>
      </div>

      <mat-form-field appearance="outline">
        <mat-label>Title for Entry 3</mat-label>
        <input type="text" [(ngModel)]="titleEntry3" name="title" matInput />
      </mat-form-field>
      <p-editor (onTextChange)="captureValueThree($event)" placeholder="Content for entry three" [style]="{height:'100px'}"  />
  
      <div>
        <p-fileUpload
          name="demo[]"
          url="https://www.primefaces.org/cdn/api/upload.php"
          (onSelect)="uploadImageThree($event)"
          accept="image/*"
          maxFileSize="1000000000"
        >
          <ng-template pTemplate="content">
            <ul></ul>
          </ng-template>
        </p-fileUpload>
      </div>

      <mat-form-field appearance="outline">
        <mat-label>Title for Entry 4</mat-label>
        <input [(ngModel)]="titleEntry4" type="text" name="title" matInput />
      </mat-form-field>
      <p-editor (onTextChange)="captureValueFour($event)" placeholder="Content for entry four" [style]="{height:'100px'}"  />
  
      <div>
        <p-fileUpload
          name="demo[]"
          url="https://www.primefaces.org/cdn/api/upload.php"
          [multiple]="true"
          accept="image/*"
          maxFileSize="1000000"
          (onSelect)="uploadImageFour($event)"
        > 
          <ng-template pTemplate="content">
            <ul></ul>
          </ng-template>
        </p-fileUpload>
      </div>
  </form>
  <mat-card-actions align="start">
    <button mat-raised-button (click)="actualizeSaving()">Save</button>
    <button mat-raised-button (click)="actualizePreview()">Preview</button>
  </mat-card-actions>
</mat-card>



<div class="spin">
<p-progressSpinner *ngIf="processing"/>
</div>