*{
margin: 0px;
padding: 0px;
box-sizing: border-box;
}
.button-5:disabled {
    background-color: #f2b66e;
    color: #ffffffb3;
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
  }
  
.button-5 {
    align-items: center;
    background-clip: padding-box;
    background-color: #e88b22;
    border: 1px solid transparent;
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: "Red Hat Display", sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
  }
  
  .button-5:hover,
  .button-5:focus {
    background-color: #e88b22;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  }
  
  .button-5:hover {
    transform: translateY(-1px);
  }
  
  .button-5:active {
    background-color: #e88b22;
    box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
    transform: translateY(0);
  }



  .button-5-close {
    align-items: center;
    background-clip: padding-box;
    background-color: red;
    border: 1px solid transparent;
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: "Red Hat Display", sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
  }
  
  .button-5-close:hover,
  .button-5-close:focus {
    background-color: red;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  }
  
  .button-5-close:hover {
    transform: translateY(-1px);
  }
  
  .button-5-close:active {
    background-color: #e88b22;
    box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
    transform: translateY(0);
  }
mat-card{
width: 55vw;
}
mat-card button{
margin-right: 20px;
}
mat-form-field{
margin-top: 10px;
}

@media(max-width:900px){
    mat-card{
        width: 100vw;
        }
       mat-form-field{
        width: 100%;
       }
        
}
