<header></header>
<div class="container">

<mat-card *ngIf="!fetchingDestination ">
    <div style=" box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;" class="div-a">
    <h1>{{destinationData.destinationTitle}}</h1>
    
    
    <p-galleria [value]="destinationPhoto" [showIndicators]="true" 
    [autoPlay]="true"
    [circular]="true" 
    [showThumbnails]="true"
    [changeItemOnIndicatorHover]="true" 
     
    [containerStyle]="{ 'max-width': '100%', }">
    
    <ng-template pTemplate="item" let-item>
        <img [src]="item"  class="img-big" />
    </ng-template>
    <ng-template pTemplate="thumbnail" let-item>
        <img [src]="item" class="img-thumbnail" />
    </ng-template>
    </p-galleria>
    

    <h4>{{destinationData.destinationTitle}}</h4>
    <mat-icon style="color: rgb(228,106,118);">place</mat-icon>
       <mat-card-content style="margin-top: 20px;" [innerHTML]="destinationDescription">

       </mat-card-content>
       <mat-card-content style="margin-top: 20px;"  [innerHTML]="destinationAbout">

       </mat-card-content>
      
  </div>
    
    
    
    <div class="div-b" >
    <h2>Hot Packages for {{destinationData.destinationTitle}}</h2>
    <div class="grid-see" >
      <div *ngFor="let saf of safaris" >
        <img [src]="saf.packageImage" alt="">
        <h2>{{saf.PackageTitle}}</h2>
        <p>
        Charges:  <b>{{saf.packageCharge}} {{saf.packageChargeCurrency}} </b> per Adult
        </p>
        <h4>Perks and Benefits</h4>
        <mat-list>
        <mat-list-item matListItemAvatar>
        <span matListItemTitle>{{saf.budgetType}}</span>
        <mat-icon style="color:  rgb(21, 181, 21);" matListItemIcon>check</mat-icon>
        </mat-list-item>
        <mat-list-item matListItemAvatar>
            <span matListItemTitle>{{saf.budgetType}}</span>
            <mat-icon style="color:  rgb(21, 181, 21);" matListItemIcon>check</mat-icon>
            </mat-list-item>
            <mat-list-item matListItemAvatar>
                <span matListItemTitle> Safari in {{saf.mode_transport}}</span>
                <mat-icon style="color: rgb(21, 181, 21)" matListItemIcon>check</mat-icon>
                </mat-list-item>
        </mat-list>
        <button  (click)="goPackage(saf.packageSlug)" mat-flat-button>View Package</button>
      </div>
        
    
    </div>
    
    </div>
    </mat-card>
    <div [classList]="fetchingDestination ? 'spin':'no-spin'">
        <p-progressBar
        mode="indeterminate"
        [style]="{ height: '6px' }"
        *ngIf="fetchingDestination"
      />
      </div>
      <related-hotels *ngIf="!fetchingDestination" [destinationName]="destinationData.destinationTitle" [hotelData]="relatedHotels"></related-hotels>
    <patners  *ngIf="!fetchingDestination" ></patners>
    <p-scrollTop/>
  
    <footer></footer>
    </div>