.container {
  max-width: 100%;
  min-width: 100%;
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
}
body{
overflow-x: hidden;
}
mat-card-content {
  word-wrap: break-word;
  overflow-wrap: anywhere;
  white-space: normal;
  display: block;
  max-height: none;
  max-width: 100%;
  text-overflow: unset;
  line-height: 1.55;
  padding: 5px;
  
}
mat-card-content p,span,h1,h2{
padding: 10px;
}

.btn {
  background-color: #fca608;
  color: white;
  width: max-content;
}
.grid{
  max-width: 100vw;
  min-width: 80%;

  margin-left: 25px;
  display: grid;
  margin: 0px;
  padding: 0px;
  grid-template-columns: 2fr 1fr;


}
.vert{

  max-width: 100vw;
  min-width: 100%;
  height: max-content;

  display: flex;
  margin: 0px;
  padding: 0px;
flex-direction: column;

}

.div-a {

 
  width: fit-content; 
  max-width: 700px;
  height: auto;
  min-height: unset;
 margin-left: 7%;
 margin-top: 30px;
}
.div-a-adjust {

  width: fit-content; 
  max-width: 700px;
  height: auto;
  min-height: unset;
 margin-left: 30px;
 margin-top: 30px;
}
.img-big {
  width: 100%;
  height: 100%;
  max-width: 700px;
  max-height: 800px;
}
.div-b {
  margin-left: 0;
 max-width: 450px;
  height: 100%;

}
.img-thumbnail {
  width: 100%;
  height: 100px;
  max-height: 400px;
  object-fit: cover;
}

.grid-see{
  width: 100%;
  display: flex;
flex-direction: column;


  }
  h3{
  padding: 15px;
  }
  .grid-see div{
    width: max-content;
    max-width: 300px;
  margin-top: 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }
  .grid-see div button{
  margin-left: 2.5px;
  }
  .grid-see div h2{
    padding: 15px;
  }
.spin {
  min-height: 100vh;
  height: 100%;
}

.grid-see div button{
  width: fit-content;
  background-color: #fca608;
  color: white;
}
.no-spin {
  display: none;
}
.grid-see img{
  width: 100%;
  height: 75%;
  }
h3 {
  text-align: center;
}







@media (max-width: 768px) {
 
 .grid,.vert{
  width: max-content;
  display: flex;
  flex-direction: column;
margin: 0;
  max-width: 100vw;
 }

p-galleria{
max-width: 95vw;
}
mat-card-content{
margin: 0;
}
.div-a,.div-a-adjust{
/* margin: 5.5px; */
width: fit-content;
}
.div-a-adjust{
margin-left: 0;
}
  
  .img-big {
    height: fit-content;
    width: fit-content;
    max-width: 80vw;
  }
  .div-b {
   max-width: 100vw;
    height: fit-content;
    width: 100%;
  }
  .img-thumbnail {
    width: 100%;
    height: 100px;
    max-height: 400px;
    object-fit: cover;
  }


  .truncate-text {
    margin-top: 10px;
    height: max-content;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
  .grid-see{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    }
    .grid-see div{
      width: max-content;
     max-width: fit-content;
     margin-top: 5.55px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }
    .grid-see div img{
    padding-right: 20px;
    }
  .spin {
    min-height: 100vh;
    height: 100%;
  }
  .div-b img{
  padding: 20px;
  }
  .no-spin {
    display: none;
  }

}
