<h1>Alert News Letters</h1>

<table mat-table [dataSource]="dataSource" *ngIf="!processing && !previewing ">
    
   
    <ng-container matColumnDef="createdon">
      <th mat-header-cell *matHeaderCellDef>Created On</th>
      <td mat-cell *matCellDef="let element"> 
         {{timeFormater(element.created_at)}}
      </td>
    </ng-container>

    <ng-container matColumnDef="Title">
      <th mat-header-cell *matHeaderCellDef>Title</th>
      <td mat-cell *matCellDef="let element"> {{element.Title}} </td>
    </ng-container>
  
    
    <ng-container matColumnDef="Content">
      <th mat-header-cell *matHeaderCellDef>Content</th>
      <td mat-cell *matCellDef="let element" ><button class="btn" mat-flat-button (click)="previewDataOther(element)">See</button></td>
    </ng-container>
  
   
    <ng-container matColumnDef="actions" >
      <th mat-header-cell *matHeaderCellDef>Action</th>
      <td mat-cell *matCellDef="let element">
      <button mat-icon-button matTooltip="actions" [mat-menu-trigger-for]="menu">
      <mat-icon>more_vert</mat-icon>
      </button>
      
      <mat-menu #menu>
        <button mat-menu-item >
            <mat-icon (click)="popUpdate(element.Title,element.id,element.content)" >edit</mat-icon>
            <span>Edit</span>
           </button>
       <button mat-menu-item >
        <mat-icon style="color: red;" (click)="popDelete(element.id,element.Title)">delete</mat-icon>
        <span>Delete</span>
       </button>
     
  
      </mat-menu>
  
      
      </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row  *matRowDef="let row; columns: displayedColumns;"></tr>
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No data matching the filter </td>
    </tr>
  </table>
  
  <mat-paginator  [pageSizeOptions]="[5, 10, 20]"
                 showFirstLastButtons
                 aria-label="Select page of periodic elements">
  </mat-paginator>



  <div class="spin">
    <p-progressSpinner *ngIf="processing "/>
   </div>






   <p-dialog header="Delete Email Template" [modal]="true" [(visible)]="deleting" [style]="{ width: '25rem' }">
    <span class="p-text-secondary block mb-5">Confirm deletion of email {{subject}}</span>
  
    <mat-card-actions align="start">
    <mat-icon (click)="delete()" matTooltip="Delete" style="color: green; margin-right: 20px;cursor: pointer;">done</mat-icon>
    <mat-icon matTooltip="Cancel" style="color: red;cursor: pointer;">clear</mat-icon>
    </mat-card-actions>
</p-dialog>   
 





<p-dialog  header="Edit Template" [modal]="true" maximizable="true" [(visible)]="updating" [style]="{ width: '25rem' }">
<form>
      <mat-form-field appearance="outline" >
        <mat-label>Enter Title</mat-label>
        <input type="text" [(ngModel)]="title" required name="title" matInput />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Title for Entry 1</mat-label>
        <input type="text"[(ngModel)]="titleEntry1"  name="title1" matInput />
      </mat-form-field>
      <p-editor (onTextChange)="captureValueOne($event)" placeholder="Content for entry one" [style]="{height:'100px'}"  />
  
      <div>
        <p-fileUpload
          name="demo[]"
         
      
          accept="image/*"
          (onSelect)="uploadImageOne($event)"
          maxFileSize="1000000"
        >
          <ng-template pTemplate="content">
            <ul></ul>
          </ng-template>
        </p-fileUpload>
      </div>
  
  
      <mat-form-field appearance="outline">
          <mat-label>Title for Entry 2</mat-label>
          <input type="text" name="title2" matInput [(ngModel)]="titleEntry2" />
        </mat-form-field>
        <p-editor (onTextChange)="captureValueTwo($event)" placeholder="Content for entry two"  [style]="{height:'100px'}" />
    
        <div>
          <p-fileUpload
            name="demo[]"
            url="https://www.primefaces.org/cdn/api/upload.php"
           
            (onSelect)="uploadImageTwo($event)"
            
            accept="image/*"
            maxFileSize="1000000000"
          >
            <ng-template pTemplate="content">
              <ul></ul>
            </ng-template>
          </p-fileUpload>
        </div>
  
        <mat-form-field appearance="outline">
          <mat-label>Title for Entry 3</mat-label>
          <input type="text" [(ngModel)]="titleEntry3" name="title3" matInput />
        </mat-form-field>
        <p-editor (onTextChange)="captureValueThree($event)" placeholder="Content for entry three" [style]="{height:'100px'}"  />
    
        <div>
          <p-fileUpload
            name="demo[]"
            url="https://www.primefaces.org/cdn/api/upload.php"
            (onSelect)="uploadImageThree($event)"
            accept="image/*"
            maxFileSize="1000000000"
          >
            <ng-template pTemplate="content">
              <ul></ul>
            </ng-template>
          </p-fileUpload>
        </div>
  
        <mat-form-field appearance="outline">
          <mat-label>Title for Entry 4</mat-label>
          <input [(ngModel)]="titleEntry4" type="text" name="title4" matInput />
        </mat-form-field>
        <p-editor (onTextChange)="captureValueFour($event)" placeholder="Content for entry four" [style]="{height:'100px'}"  />
    
        <div>
          <p-fileUpload
            name="demo[]"
            url="https://www.primefaces.org/cdn/api/upload.php"
            [multiple]="true"
            accept="image/*"
            maxFileSize="1000000"
            (onSelect)="uploadImageFour($event)"
          > 
            <ng-template pTemplate="content">
              <ul></ul>
            </ng-template>
          </p-fileUpload>
        </div>
        <div>
          <mat-card-actions>
            <button mat-raised-button (click)="updatingMailer()" >Save</button>
            <button mat-raised-button>Preview</button>
          </mat-card-actions>
        </div>
    </form>
    


  

 

</p-dialog>
<p-toast/>

<preview *ngIf="previewing" [previewContent]="previewData"></preview>