*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    div{
    max-width: 100vw;
   height: 100%;
    display: flex;
     align-items: center;
     justify-content: center;
    background-color: rgb(242,244,247);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    
    }
    div form{
    height: 350px;
    width: 450px;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    }
   
 form button{
        width: fit-content;
        background-color: #fca608;
        color: white;
        align-items: center;
        margin-left: 45%;
        margin-top: 20px;
    }
  span{
    text-align: right;
    padding-right: 15px;
  }
    h2,h3,h1{
    text-align: center;
    padding-top: 17.7777px;
    }
   
   
    
    @media(max-width:900px){
    div{
    display: block;
    max-width: 100vw;
    }
    div form {
      margin-left: 0px;
      margin-right: 0px;
    max-width: 100vw;
    height: fit-content;

    }
    div form mat-form-field{
    width: 100%;
    }
    span{
      text-align: right;
      padding-right: 0px;
    }
 form button{
  width: fit-content;
  background-color: #fca608;
  color: white;
  align-items: center;

  margin-top: 10px;
}
    

    mat-card form button{
    margin-left: 0;
    }
    }