<mat-card>
<mat-list>
<mat-list-item (click)="home()">
<img src="https://res.cloudinary.com/dasrniwpk/image/upload/v1738078271/wlogo_squ1nc.png" mat-card-md-image alt="">
</mat-list-item>
<mat-list-item (click)="home()">
<p>Masaai Mara Trips</p>
</mat-list-item>
<mat-list-item>
<p>All About Masai Mara</p>
</mat-list-item>
<mat-list-item>
<p>Accomodations</p>
</mat-list-item>
<mat-list-item (click)="navigate()">
<p>Masaai Mara Safari's</p>
</mat-list-item>
<mat-list-item (click)="navigate()">

<button mat-flat-button>
Travel to Mara
<mat-icon class="suff-icon">mood</mat-icon>
</button>
</mat-list-item>
<mat-list-item>
<mat-icon class="icon">dark_mode</mat-icon>
</mat-list-item>
</mat-list>





</mat-card> 




<p-sidebar [(visible)]="seeDrawer">
    <mat-list>
        <mat-list-item>
            <span matListItemTitle>Masaai Mara Trips</span>
        </mat-list-item>
        <mat-list-item>All About Masai Mara</mat-list-item>
        <mat-list-item>Accommodations</mat-list-item>
        <mat-list-item>Masaai Mara Safari's</mat-list-item>
        <mat-list-item>
            <button mat-flat-button>Travel to Mara</button>
        </mat-list-item>
    </mat-list>
</p-sidebar>

<mat-drawer-container>
    <mat-drawer #drawer mode="over" [opened]="false">
      </mat-drawer>
    
<div>
    <mat-icon class="harmburg" (click)="toggle()">menu</mat-icon>
    <img src="https://res.cloudinary.com/dasrniwpk/image/upload/v1738078271/wlogo_squ1nc.png" mat-card-md-image alt="">
    <mat-icon class="dark">dark_mode</mat-icon>
</div>


    </mat-drawer-container>