<div class="main">
  <h1>Partners Content | Kenya Safaris and Tours</h1>
  <mat-card>
    <div>
      <img
        src="https://www.olankasafaris.com/uploads/package/mara-serena-safari-lodge-by-air-from-nairobi_20241017171854.jpg?v1.1.9"
        alt=""
      />
      <p>Mara Serena Lodge by Air From Nairobi</p>
      <button mat-flat-button (click)="goOuter('tour/mara-serena-safari-lodge-by-air-from-nairobi')">Itinerary&Prices</button>
    </div>
    <div>
      <img
        src="https://www.olankasafaris.com/uploads/package/blog_63_20230712141654.lick.safari.lodge.tsavo.jpg"
        alt=""
      />
      <p>Travel to Tsavo National park from Nairobi by Train</p>
      <button mat-flat-button (click)="goOuter('/tour/travel-to-tsavo-by-train')">Itinerary&Prices</button>
    </div>
    <div>
      <img
        src="https://www.olankasafaris.com/uploads/package/4-days-zebra-plain-collection-masai-mara-safari_20250116162242.webp?v1.1.9"
        alt=""
      />
      <p>4 Days plain Zebra Collection Safari</p>
      <button mat-flat-button (click)="goOuter('tour/4-days-zebra-plain-collection-masai-mara-safari')">Itinerary&Prices</button>
    </div>
    <div>
      <img
        src="https://www.olankasafaris.com/uploads/package/hells-gate-olkaria-geothermal-spa-day-trip_20240408124130.webp"
        alt=""
      />
      <p>Hells Gate Geothermal Spa Day Trip</p>
      <button mat-flat-button (click)="goOuter('tour/hells-gate-olkaria-geothermal-spa-day-trip')">Itinerary&Prices</button>
    </div>
  </mat-card>
</div>
