*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

.main{
max-width: 100%;
min-width: 100vw;
}
h3{
text-align: center;
padding-left: 10px;
}
p{
padding: 10px;
}
mat-card{
display: flex;
max-width: 100%;
flex-direction: row;
flex-wrap: wrap;
align-items: stretch;
}
mat-card div img{
width: 100%;
height: 200px;
}
mat-card div button{
    background-color: #fca608;
    color: white; 
    width: max-content;
    margin: 5.00px;
}
mat-card div{
    flex: 1;
   
    height: max-content;
    cursor: pointer;
    margin-left: 17.5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
width: max-content;
}


@media(max-width:768px){
    mat-card{
        display: flex;
        width: 100%;
        flex-direction: column;
        flex-wrap: wrap;
        }
        mat-card div button{
        margin-left: 10px;
        }
        mat-card div img{
            height: max-content;
        }
       mat-card div{
        max-width: 100vw;
        min-width: 100%;
        margin-top: 20px;
        margin-left: 0;
        margin-right: 0;

        /* margin: 5.55px; */
       
       }
       mat-card div img,p{
        padding: 20px;
       }
}
