<header></header>

<mat-card >
   

    <div class="safaris" [@bounceRight]="bgState" #bg>
        <h1>Explore More On Masaai Mara Trips</h1>
       </div>
        
       <div *ngIf="!processingBlogs">
     
       <!-- <div class="divider-container">
        <div class="divider"></div>
        <div class="circle"></div>
        <div class="divider"></div>
      </div> -->
      
       <div class="container"  *ngFor="let blogs of blogData">
   <div> 
    <img [src]="blogs.blogThumbnail" alt="">
    </div>
    <div class="blog-meta">
        <h1>{{blogs.blogTitle}}</h1>
   
        <button class="button-5" role="button" (click)="goBlog(blogs.blogSlug)">Read Blog</button>
        </div>
       </div>
       </div>
       <div class="spinner" *ngIf="processingBlogs">
        <div  class="loader"></div>
    </div>
    <app-contact></app-contact>
  <footer></footer>     
</mat-card>




<p-scrollTop/>











